- var page = {}
- var hostname = "http://hutir.kiev.ua/landing/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        new: {
          heading: "Новые коттеджи",
          descr: "Дома, которые уже построены и доступны к продаже",
          items: [
            {
              link: {
                text: "Подробнее"
              },
              size: "125 м<sup>2</sup>",
              slider: {
                items: [
                  {
                    src: "img/new-2-1.jpg",
                    alt: "Проект Лилея 1"
                  },
                  {
                    src: "img/new-2-2.jpg",
                    alt: "Проект Лилея 2"
                  },
                  {
                    src: "img/new-2-3.jpg",
                    alt: "Проект Лилея 3"
                  },
                  {
                    src: "img/new-2-4.jpg",
                    alt: "Проект Лилея 4"
                  },
                  {
                    src: "img/new-2-5.jpg",
                    alt: "Проект Лилея 5"
                  },
                  {
                    src: "img/new-2-6.jpg",
                    alt: "Проект Лилея 6"
                  },
                  {
                    src: "img/new-2-7.jpg",
                    alt: "Проект Лилея 7"
                  },
                ]
              },
              name: "Проект «Рута»",
              label: "1 этаж",
              descr: {
                text1: "В продаже доступно <b>три дома</b> по данному проекту",
                text2: "Расположены на участке <b>№31, №31/1 и №50</b>",
                text3: "Площадь жилого дома 125 м<sup>2</sup>"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            }, 
            {
              link: {
                text: "Подробнее"
              },
              size: "170 м<sup>2</sup>",
              slider: {
                items: [
                  {
                    src: "img/new-1-1.jpg",
                    alt: "Проект Рута 1"
                  },
                  {
                    src: "img/new-1-2.jpg",
                    alt: "Проект Рута 2"
                  },
                  {
                    src: "img/new-1-3.jpg",
                    alt: "Проект Рута 3"
                  },
                  {
                    src: "img/new-1-4.jpg",
                    alt: "Проект Рута 4"
                  },
                  {
                    src: "img/new-1-5.jpg",
                    alt: "Проект Рута 5"
                  },
                ]
              },
              name: "Проект «Лилея»",
              label: "2 этаж",
              descr: {
                text1: "В продаже доступно <b>один дом</b> по данному проекту",
                text2: "Расположен на участке <b>№24</b>",
                text3: "Площадь жилого дома 170 м<sup>2</sup>"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
          ]
        },
        catalog: {
          heading: "Каталог проектов",
          descr: "с возможностью строительства по договору подряда",
          items: [
            {
              link: {
                text: "Подробнее"
              },
              size: "150.54 м<sup>2</sup>",
              img: {
                src: "img/catalog1.jpg",
                alt: "Каталог 1"
              },
              name: "Проект «Лилея-Мини»",
              descr: {
                name: "Общая площадь: ",
                value: "150.54 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "161.76 м<sup>2</sup>",
              img: {
                src: "img/catalog2.jpg",
                alt: "Каталог 2"
              },
              name: "Проект «Купава-мини»",
              descr: {
                name: "Общая площадь: ",
                value: "161.76 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "165.53 м<sup>2</sup>",
              img: {
                src: "img/catalog3.jpg",
                alt: "Каталог 3"
              },
              name: "Проект «Калина»",
              descr: {
                name: "Общая площадь: ",
                value: "165.53 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "206.86 м<sup>2</sup>",
              img: {
                src: "img/catalog4.jpg",
                alt: "Каталог 4"
              },
              name: "Проект «Купава»",
              descr: {
                name: "Общая площадь: ",
                value: "206.86 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "170.16 м<sup>2</sup>",
              img: {
                src: "img/catalog5.jpg",
                alt: "Каталог 5"
              },
              name: "Проект «Лилея»",
              descr: {
                name: "Общая площадь: ",
                value: "170.16 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "198.41 м<sup>2</sup>",
              img: {
                src: "img/catalog6.jpg",
                alt: "Каталог 6"
              },
              name: "Проект «Ягодка-мини»",
              descr: {
                name: "Общая площадь: ",
                value: "198.41 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "210.72 м<sup>2</sup>",
              img: {
                src: "img/catalog7.jpg",
                alt: "Каталог 7"
              },
              name: "Проект «Ягодка»",
              descr: {
                name: "Общая площадь: ",
                value: "210.72 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "214.12 м<sup>2</sup>",
              img: {
                src: "img/catalog8.jpg",
                alt: "Каталог 8"
              },
              name: "Проект «Конвалия»",
              descr: {
                name: "Общая площадь: ",
                value: "214.12 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "229.27 м<sup>2</sup>",
              img: {
                src: "img/catalog9.jpg",
                alt: "Каталог 9"
              },
              name: "Проект «Мальва»",
              descr: {
                name: "Общая площадь: ",
                value: "229.27 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "236.68 м<sup>2</sup>",
              img: {
                src: "img/catalog10.jpg",
                alt: "Каталог 10"
              },
              name: "Проект «Троянда»",
              descr: {
                name: "Общая площадь: ",
                value: "236.68 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "307.65 м<sup>2</sup>",
              img: {
                src: "img/catalog11.jpg",
                alt: "Каталог 11"
              },
              name: "Проект «Барвинок»",
              descr: {
                name: "Общая площадь: ",
                value: "307.65 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "125 м<sup>2</sup>",
              img: {
                src: "img/catalog12.jpg",
                alt: "Каталог 12"
              },
              name: "Проект «Рута»",
              descr: {
                name: "Общая площадь: ",
                value: "125 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
          ],
          address: {
            icon: "ic ic-catalogic",
            text: "Специально для поселка \"Лелечий Хутор\" мы привлекли архитектора и разработали неповторимую линейку проектов домов в единой концепци площадью от 125 кв.м. до 307 кв.м."
          }
        }
      }, //- index

      thanks: {
        hostname: "thanks.html",
        title: "Заявка принята",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
      } //- thanks.html
    }
