- var page = {}
- var hostname = "http://hutir.kiev.ua/landing/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        new: {
          heading: "Новые коттеджи",
          descr: "Дома, которые уже построены и доступны к продаже",
          items: [
            {
              link: {
                text: "Подробнее"
              },
              size: "125 м<sup>2</sup>",
              slider: {
                items: [
                  {
                    src: "img/new-2-1.jpg",
                    alt: "Проект Лилея 1"
                  },
                  {
                    src: "img/new-2-2.jpg",
                    alt: "Проект Лилея 2"
                  },
                  {
                    src: "img/new-2-3.jpg",
                    alt: "Проект Лилея 3"
                  },
                  {
                    src: "img/new-2-4.jpg",
                    alt: "Проект Лилея 4"
                  },
                  {
                    src: "img/new-2-5.jpg",
                    alt: "Проект Лилея 5"
                  },
                  {
                    src: "img/new-2-6.jpg",
                    alt: "Проект Лилея 6"
                  },
                  {
                    src: "img/new-2-7.jpg",
                    alt: "Проект Лилея 7"
                  },
                ]
              },
              name: "Проект «Рута»",
              label: "1 этаж",
              descr: {
                text1: "В продаже доступно <b>три дома</b> по данному проекту",
                text2: "Расположены на участке <b>№31, №31/1 и №50</b>",
                text3: "Площадь жилого дома 125 м<sup>2</sup>"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            }, 
            {
              link: {
                text: "Подробнее"
              },
              size: "170 м<sup>2</sup>",
              slider: {
                items: [
                  {
                    src: "img/new-1-1.jpg",
                    alt: "Проект Рута 1"
                  },
                  {
                    src: "img/new-1-2.jpg",
                    alt: "Проект Рута 2"
                  },
                  {
                    src: "img/new-1-3.jpg",
                    alt: "Проект Рута 3"
                  },
                  {
                    src: "img/new-1-4.jpg",
                    alt: "Проект Рута 4"
                  },
                  {
                    src: "img/new-1-5.jpg",
                    alt: "Проект Рута 5"
                  },
                ]
              },
              name: "Проект «Лилея»",
              label: "2 этаж",
              descr: {
                text1: "В продаже доступно <b>один дом</b> по данному проекту",
                text2: "Расположен на участке <b>№24</b>",
                text3: "Площадь жилого дома 170 м<sup>2</sup>"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
          ]
        },
        catalog: {
          heading: "Каталог проектов",
          descr: "с возможностью строительства по договору подряда",
          items: [
            {
              link: {
                text: "Подробнее"
              },
              size: "150.54 м<sup>2</sup>",
              img: {
                src: "img/catalog1.jpg",
                alt: "Каталог 1"
              },
              name: "Проект «Лилея-Мини»",
              descr: {
                name: "Общая площадь: ",
                value: "150.54 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "161.76 м<sup>2</sup>",
              img: {
                src: "img/catalog2.jpg",
                alt: "Каталог 2"
              },
              name: "Проект «Купава-мини»",
              descr: {
                name: "Общая площадь: ",
                value: "161.76 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "165.53 м<sup>2</sup>",
              img: {
                src: "img/catalog3.jpg",
                alt: "Каталог 3"
              },
              name: "Проект «Калина»",
              descr: {
                name: "Общая площадь: ",
                value: "165.53 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "206.86 м<sup>2</sup>",
              img: {
                src: "img/catalog4.jpg",
                alt: "Каталог 4"
              },
              name: "Проект «Купава»",
              descr: {
                name: "Общая площадь: ",
                value: "206.86 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "170.16 м<sup>2</sup>",
              img: {
                src: "img/catalog5.jpg",
                alt: "Каталог 5"
              },
              name: "Проект «Лилея»",
              descr: {
                name: "Общая площадь: ",
                value: "170.16 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "198.41 м<sup>2</sup>",
              img: {
                src: "img/catalog6.jpg",
                alt: "Каталог 6"
              },
              name: "Проект «Ягодка-мини»",
              descr: {
                name: "Общая площадь: ",
                value: "198.41 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "210.72 м<sup>2</sup>",
              img: {
                src: "img/catalog7.jpg",
                alt: "Каталог 7"
              },
              name: "Проект «Ягодка»",
              descr: {
                name: "Общая площадь: ",
                value: "210.72 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "214.12 м<sup>2</sup>",
              img: {
                src: "img/catalog8.jpg",
                alt: "Каталог 8"
              },
              name: "Проект «Конвалия»",
              descr: {
                name: "Общая площадь: ",
                value: "214.12 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "229.27 м<sup>2</sup>",
              img: {
                src: "img/catalog9.jpg",
                alt: "Каталог 9"
              },
              name: "Проект «Мальва»",
              descr: {
                name: "Общая площадь: ",
                value: "229.27 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "236.68 м<sup>2</sup>",
              img: {
                src: "img/catalog10.jpg",
                alt: "Каталог 10"
              },
              name: "Проект «Троянда»",
              descr: {
                name: "Общая площадь: ",
                value: "236.68 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "307.65 м<sup>2</sup>",
              img: {
                src: "img/catalog11.jpg",
                alt: "Каталог 11"
              },
              name: "Проект «Барвинок»",
              descr: {
                name: "Общая площадь: ",
                value: "307.65 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "125 м<sup>2</sup>",
              img: {
                src: "img/catalog12.jpg",
                alt: "Каталог 12"
              },
              name: "Проект «Рута»",
              descr: {
                name: "Общая площадь: ",
                value: "125 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
          ],
          address: {
            icon: "ic ic-catalogic",
            text: "Специально для поселка \"Лелечий Хутор\" мы привлекли архитектора и разработали неповторимую линейку проектов домов в единой концепци площадью от 125 кв.м. до 307 кв.м."
          }
        }
      }, //- index

      thanks: {
        hostname: "thanks.html",
        title: "Заявка принята",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
      }, //- thanks.html
      gallery: {
        hostname: "gallery.html",
        title: "Фото коттеджного городка Лелечий Хутор",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Коттеджный городок в снимках и фотографиях | Лелечий Хутор",
            siteName: "Лелечий хутiр",
            description: " На странице Фотогалерея вы можете увидеть как выглядит наш загородный коттеджный комплекс. Макеты проектов, природа, построенные дома и персонал городка!",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        title: "Фото коттеджного городка Лелечий Хутор",
        text: "На этой странице нашего сайта вы можете просмотреть фотографии и изображения касающееся нашего коттеджного поселка. Тут вы можете просмотреть 3D макет своего будущего дома, природу и местность вокруг коттеджного комплекса или даже увидеть ваших будущих соседей. Если вас интересует то, как выглядит готовый коттедж, вы также можете найти все необходимые фотографии. Наша подборка фото постоянно обновляется!",
        items: [
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          },
          {
            href: "img/gallery1.jpg"
          }
        ]
      }, //- gallery.html
      faq: {
        hostname: "faq.html",
        title: "Ответы на часто задаваемые вопросы",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        title: "Ответы на часто задаваемые вопросы",
        items: [
          {
            answer: "Есть ли в городке обслуживающая компания?",
            text: "Да, обслуживающая компания постоянно следит за благоустройством коттеджного городка, контролирует состояние инженерных сетей.  В компетенцию входит: уборка территории общего пользования, вывоз мусора, техническое состояние детской площадки, освещение, очистка дорог от снега в зимний период. Тепло-, газо-, водоснабжение круглый год, а также территория круглосуточно охраняется. Стоимость услуг – 1350 грн/месяц."
          },
          {
            answer: "На каком этапе строительства дома  заказчик может приступить к внутренним отделочным работам?",
            text: "Это зависит от двух факторов. Первый – степень готовности строящегося дома. Начинать отделочные работы можно, когда готова кровля. Второй фактор – это исполнение заказчиком платежного графика по договору подряда. Если клиент платит согласно договору, можно проводить отделочные работы параллельно со строительством."
          },
          {
            answer: "Может ли клиент прописаться в построенном доме?",
            text: "Да. Целевое назначение земли в коттеджном городке «Лелечий Хутір» - строительство и обслуживание жилого дома и хозяйственных зданий и сооружений. Каждый земельный участок оформлен отдельным актом и имеет свой юридический адрес."
          },
          {
            answer: "Реально ли при заказе строительства у вашей компании получить кредит или рассрочку платежа?",
            text: "Мы не сотрудничаем с банком и не кредитуем. Но мы понимаем наших клиентов, поэтому всегда готовы предоставить рассрочку сроком до года."
          },
          {
            answer: "Будут ли построены дополнительные объекты инфраструктуры в коттеджном комплексе? Когда и что на Хуторе планируется возводить из дополнительных объектов инфраструктуры?",
            text: "Сейчас мы разрабатываем несколько новых проектов\: <br/>•  Детская игровая зона закрытого типа – для игр и развлечений в холодное время года. <br/>• Кафе-кулинария – место, где можно провести время вкусно или заказать еду домой для семейного ужина. <br/>•  Зона свободного планирования – настольный теннис, шахматы и другие семейные игры. <br/>•  Баня на дровах. <br/>Строительство начнется, когда у нас будет 35 домов, на данный момент готово 28."
          }
        ]
      }, //- faq.html
      location: {
        hostname: "location.html",
        title: "Расположение",
        meta: {
          description: "Экологически чистая местность в 20 минутах езды от Киева! Дышите полной грудью. Природа способствует здоровой и счастливой жизни.",
          title: "Коттеджный городок с уникальным расположением | Лелечий Хутор",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        title: "Расположение",
        text: "Уникальная природа, экологически чистая местность наряду с относительной близостью к Киеву! Именно это делает наш коттеджный комплекс таким особенным и привлекательным. Забудьте о шумной жизни со всеми ее недостатками. За 21 минуту от станции Житомирская, вы попадаете в совершенно новый мир. Свежий воздух, еловый лес, нетронутые водоемы будут заряжать вас бодростью на весь рабочий день! Выберите свой новый загородный дом под Киевом уже сейчас."
      }, //- location.html
      contacts: {
        hostname: "contacts.html",
        title: "Контакты",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        title: "Контакты",
        text: "По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен."
      }, //- contacts.html
      genplan: {
        hostname: "genplan.html",
        title: "Генплан",
        meta: {
          description: "Наш генплан поможет вам определиться с желаемым участком. Вы можете выбрать готовый коттедж, а также следить за развитием инфраструктуры в режиме online.",
          title: "Генеральный план | Лелечий Хутор",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        title: "Генплан",
        text: "",
        items: [
          {
            number: "Участок #1",
            size: "Площадь 236.68 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Троянда</a>"
          },
          {
            number: "Участок #2",
            size: "Площадь 10.08 соток",
            name: ""
          },
          {
            number: "Участок #3",
            size: "Площадь 236.68 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Троянда</a>"
          },
          {
            number: "Участок #4",
            size: "Площадь 229.27 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Мальва</a>"
          },
          {
            number: "Участок #5",
            size: "Площадь 170.16 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Лилея</a>"
          },
          {
            number: "Участок #6",
            size: "Площадь 170.16 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Мальва</a>"
          },
          {
            number: "Участок #7",
            size: "Площадь 9.87 соток",
            name: ""
          },
          {
            number: "Участок #8",
            size: "Площадь 9.82 соток",
            name: ""
          },
          {
            number: "Участок #9",
            size: "Площадь 9.78 соток",
            name: ""
          },
          {
            number: "Участок #10",
            size: "Площадь 236.68 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Троянда</a>"
          },
          {
            number: "Участок #11",
            size: "Площадь 6.74 соток",
            name: ""
          },
          {
            number: "Участок #12",
            size: "Площадь 150.54 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Лилея-мини</a>"
          },
          {
            number: "Участок #13",
            size: "Площадь 198.41 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Ягодка-мини</a>"
          },
          {
            number: "Участок #14",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #15",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #16",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #17",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #18",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #19",
            size: "Площадь 161.76 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Купава-мини</a>"
          },
          {
            number: "Участок #20",
            size: "Площадь 236.68 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Троянда</a>"
          },
          {
            number: "Участок #21",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #22",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #23",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #24",
            size: "Площадь 7.80 соток",
            name: "Проект: <a href=\"\">Лилея</a>"
          },
          {
            number: "Участок #25",
            size: "Площадь 170.16 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Лилея</a>"
          },
          {
            number: "Участок #26",
            size: "Площадь 206.86 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Купава</a>"
          },
          {
            number: "Участок #27",
            size: "Площадь 150.54 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Лилея-мини</a>"
          },
          {
            number: "Участок #28",
            size: "Площадь 170.16 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Лилея</a>"
          },
          {
            number: "Участок #29",
            size: "Площадь 170.16 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Лилея</a>"
          },
          {
            number: "Участок #30",
            size: "Площадь 198.41 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Ягодка-мини</a>"
          },
          {
            number: "Участок #31",
            size: "",
            name: "Проект: <a href=\"\">Рута</a>"
          },
          {
            number: "Участок #32",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #33",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #34",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #35",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #36",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #37",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #38",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #39",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #40",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #41",
            size: "Площадь 8.01 соток",
            name: ""
          },
          {
            number: "Участок #42",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #43",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #44",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #45",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #46",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #47",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #48",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #49",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #50",
            size: "Площадь 7.80 соток",
            name: "Проект: <a href=\"\">Рута</a>"
          },
          {
            number: "Участок #51",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #52",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #53",
            size: "Площадь 7.80 соток",
            name: ""
          },
          {
            number: "Участок #54",
            size: "Площадь 7.79 соток",
            name: ""
          },
          {
            number: "Участок #55",
            size: "Площадь 7.45 соток",
            name: ""
          },
          {
            number: "Участок #56",
            size: "Площадь 236.68 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Троянда</a>"
          },
          {
            number: "Участок #57",
            size: "Площадь 214.12 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Конвалия</a>"
          },
          {
            number: "Участок #58",
            size: "Площадь 198.41 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Ягодка-мини</a>"
          },
          {
            number: "Участок #59",
            size: "Площадь 198.41 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Ягодка-мини</a>"
          },
          {
            number: "Участок #60",
            size: "Площадь 8.01 соток",
            name: ""
          },
          {
            number: "Участок #61",
            size: "Площадь 198.41 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Ягодка-мини</a>"
          },
          {
            number: "Участок #62",
            size: "Площадь 198.41 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Ягодка-мини</a>"
          },
          {
            number: "Участок #63",
            size: "Площадь 229.27 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Мальва</a>"
          },
          {
            number: "Участок #64",
            size: "Площадь 12.38 соток",
            name: ""
          },
          {
            number: "Участок #65",
            size: "Площадь 12.56 соток",
            name: ""
          },
          {
            number: "Участок #66",
            size: "Площадь 12.40 соток",
            name: ""
          },
          {
            number: "Участок #67",
            size: "Площадь 11.48 соток",
            name: ""
          },
          {
            number: "Участок #68",
            size: "Площадь 12.05 соток",
            name: ""
          },
          {
            number: "Участок #69",
            size: "Площадь 11.27 соток",
            name: ""
          },
          {
            number: "Участок #70",
            size: "Площадь 229.27 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Мальва</a>"
          },
          {
            number: "Участок #71",
            size: "Площадь 10.50 соток",
            name: ""
          },
          {
            number: "Участок #72",
            size: "Площадь 198.41 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Ягодка-мини</a>"
          },
          {
            number: "Участок #73",
            size: "Площадь 229.27 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Мальва</a>"
          },
          {
            number: "Участок #74",
            size: "Площадь 307.65 м<sup>2</sup>",
            name: "Проект: <a href=\"\">Барвинок</a>"
          },
          {
            number: "Участок #31/1",
            size: "",
            name: "Проект: <a href=\"\">Рута</a>"
          }
        ]
      }, //- genplan.html
      projects: {
        hostname: "index.html",
        title: "Проекты",
        meta: {
          description: "К вашему вниманию 12 уникальных проектов вашего будущего дома в нашем коттеджном городке. Экологичные дома, спроектированные профессионалами. ",
          title: "Проекты коттеджей | Лелечий Хутор",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        descr: "На этой странице вы можете ознакомится с уникальными проектами коттеджного городка Лелечий Хутор. Все 12 проектов были разработаны профессиональной командой архитекторов. Каждый представленный здесь проект по своему уникален и создан с мыслью удовлетворить потребности даже самого требовательного жильца. При создании прототипов, наши архитекторы вдохновлялись европейскими и североамериканскими концепциями домостроительства. И все это с одной целью: Обеспечить вам экологическую и спокойную жизнь в доме вашей мечты. Впрочем к чему лишние слова, убедитесь в этом сами!",
        gallery: {
          items: [
            {
              href: "img/projects-1.jpg",
              label: {
                left: "Новый проект",
                right: "Готов к продаже"
              }
            },
            {
              href: "img/projects-2.jpg",
              label: {
                right: "Готов к продаже"
              }
            },
            {
              href: "img/projects-3.jpg"
            },
            {
              href: "img/projects-4.jpg"
            },
            {
              href: "img/projects-5.jpg"
            },
            {
              href: "img/projects-6.jpg"
            },
            {
              href: "img/projects-7.jpg"
            },
            {
              href: "img/projects-8.jpg"
            },
            {
              href: "img/projects-9.jpg"
            },
            {
              href: "img/projects-10.jpg",
              label: {
                left: "Топ продаж"
              }
            },
            {
              href: "img/projects-11.jpg"
            },
            {
              href: "img/projects-12.jpg"
            }
          ]
        },
        projects: {
          items: [
            {
              images: [
                {
                  src: "img/projects-detail-1.1.jpg",
                  alt: "Проект Рута",
                  href: "img/projects-detail-1.1.jpg",
                },
                {
                  href: "img/projects-detail-1.2.jpg",
                },
                {
                  href: "img/projects-detail-1.3.jpg",
                },
                {
                  href: "img/projects-detail-1.4.jpg",
                },
                {
                  href: "img/projects-detail-1.5.jpg",
                },
                {
                  href: "img/projects-detail-1.6.jpg",
                },
                {
                  href: "img/projects-detail-1.7.jpg",
                },
              ],
              heading: "Проект «Рута»",
              label: "1 этаж",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "125 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "готов к продаже"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "group",
                    text: "Рядом живут хорошие соседи"
                  },
                  {
                    icon: "jack",
                    text: "Все коммуникации проведены"
                  },
                  {
                    icon: "divider",
                    text: "Площадь участка 7,8 соток"
                  },
                  {
                    icon: "cool",
                    text: "Дом хорошо подойдет для семьи из 4-6 человек"
                  },
                  {
                    icon: "flag",
                    text: "При строительстве использовались эко-материалы"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-2.1.jpg",
                  alt: "Проект Лилея",
                  href: "img/projects-detail-2.1.jpg",
                },
                {
                  href: "img/projects-detail-2.2.jpg",
                },
                {
                  href: "img/projects-detail-2.3.jpg",
                },
                {
                  href: "img/projects-detail-2.4.jpg",
                },
                {
                  href: "img/projects-detail-2.5.jpg",
                },
              ],
              heading: "Проект «Лилея»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "170 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "готов к продаже"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "group",
                    text: "Рядом живут хорошие соседи"
                  },
                  {
                    icon: "jack",
                    text: "Все коммуникации проведены"
                  },
                  {
                    icon: "divider",
                    text: "Площадь участка 7,8 соток"
                  },
                  {
                    icon: "cool",
                    text: "Дом хорошо подойдет для семьи из 4-6 человек"
                  },
                  {
                    icon: "flag",
                    text: "При строительстве использовались эко-материалы"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-3.1.jpg",
                  alt: "Проект Лилея-мини",
                  href: "img/projects-detail-3.1.jpg",
                },
                {
                  href: "img/projects-detail-3.2.jpg",
                },
              ],
              heading: "Проект «Лилея-мини»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "150 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "cool",
                    text: "Хороший дом для небольшой семьи"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-4.1.jpg",
                  alt: "Проект Купава",
                  href: "img/projects-detail-4.1.jpg",
                },
                {
                  href: "img/projects-detail-4.2.jpg",
                },
              ],
              heading: "Проект «Купава»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "206 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "cool",
                    text: "Хороший проект для любителей особенного"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-5.1.jpg",
                  alt: "Проект Ягодка мини",
                  href: "img/projects-detail-5.1.jpg",
                },
              ],
              heading: "Проект «Ягодка-мини»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "198 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "cool",
                    text: "Для ценителей классики и сдержанного стиля"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-6.1.jpg",
                  alt: "Проект Конвалия",
                  href: "img/projects-detail-6.1.jpg",
                },
              ],
              heading: "Проект «Конвалия»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "214 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "cool",
                    text: "Светлый дом для большой семьи"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-7.1.jpg",
                  alt: "Проект Ягодка",
                  href: "img/projects-detail-7.1.jpg",
                },
                {
                  href: "img/projects-detail-7.2.jpg",
                },
                {
                  href: "img/projects-detail-7.3.jpg",
                },
              ],
              heading: "Проект «Ягодка»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "210 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "cool",
                    text: "Подойдет для большой семьи"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                  {
                    icon: "star",
                    text: "Окна в крыше позволят ночью смотреть на звезды"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-8.1.jpg",
                  alt: "Проект Мальва",
                  href: "img/projects-detail-8.1.jpg",
                },
                {
                  href: "img/projects-detail-8.2.jpg",
                },
              ],
              heading: "Проект «Мальва»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "229 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "cool",
                    text: "Подойдет для большой семьи"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                  {
                    icon: "meter",
                    text: "Один из самых больших проектов"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-9.1.jpg",
                  alt: "Проект Троянда",
                  href: "img/projects-detail-9.1.jpg",
                },
                {
                  href: "img/projects-detail-9.2.jpg",
                },
              ],
              heading: "Проект «Троянда»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "236 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "meter",
                    text: "Один из самых больших коттеджей в Хуторе"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-10.1.jpg",
                  alt: "Проект Барвинок",
                  href: "img/projects-detail-10.1.jpg",
                },
                {
                  href: "img/projects-detail-10.2.jpg",
                },
              ],
              heading: "Проект «Барвинок»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "307 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "meter",
                    text: "Cамый большой коттедж в Хуторе"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-11.1.jpg",
                  alt: "Проект Купава мини",
                  href: "img/projects-detail-11.1.jpg",
                },
                {
                  href: "img/projects-detail-11.2.jpg",
                },
                {
                  href: "img/projects-detail-11.3.jpg",
                },
              ],
              heading: "Проект «Купава-мини»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "161 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "meter",
                    text: "Уютный дом для счастливой семьи"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
            {
              images: [
                {
                  src: "img/projects-detail-12.1.jpg",
                  alt: "Проект Калина",
                  href: "img/projects-detail-12.1.jpg",
                },
                {
                  href: "img/projects-detail-12.2.jpg",
                },
              ],
              heading: "Проект «Калина»",
              label: "2 этажа",
              options: [
                {
                  key: "Площадь жилого дома: ",
                  value: "165 м<sup>2</sup>"
                },
                {
                  key: "Статус проекта: ",
                  value: "строительство по <br>договору подряда"
                },
              ],
              icon: "list",
              list: {
                heading: "Особенности дома:",
                items: [
                  {
                    icon: "touch",
                    text: "Выбирайте любой свободный участок для строительства"
                  },
                  {
                    icon: "pillar",
                    text: "Коттедж выполнен в сдержанном стиле"
                  },
                  {
                    icon: "instruments",
                    text: "Возможны изменения планировки дома по вашему желанию"
                  },
                  {
                    icon: "time",
                    text: "Срок строительства 5-7 месяцев"
                  },
                ]
              },
              btn: {
                icon: "info",
                text: "Больше информации о проекте"
              },
            },
          ]
        }

      }, //- projects.html
      vidget: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        new: {
          heading: "Новые коттеджи",
          descr: "Дома, которые уже построены и доступны к продаже",
          items: [
            {
              link: {
                text: "Подробнее"
              },
              size: "125 м<sup>2</sup>",
              slider: {
                items: [
                  {
                    src: "img/new-2-1.jpg",
                    alt: "Проект Лилея 1"
                  },
                  {
                    src: "img/new-2-2.jpg",
                    alt: "Проект Лилея 2"
                  },
                  {
                    src: "img/new-2-3.jpg",
                    alt: "Проект Лилея 3"
                  },
                  {
                    src: "img/new-2-4.jpg",
                    alt: "Проект Лилея 4"
                  },
                  {
                    src: "img/new-2-5.jpg",
                    alt: "Проект Лилея 5"
                  },
                  {
                    src: "img/new-2-6.jpg",
                    alt: "Проект Лилея 6"
                  },
                  {
                    src: "img/new-2-7.jpg",
                    alt: "Проект Лилея 7"
                  },
                ]
              },
              name: "Проект «Рута»",
              label: "1 этаж",
              descr: {
                text1: "В продаже доступно <b>три дома</b> по данному проекту",
                text2: "Расположены на участке <b>№31, №31/1 и №50</b>",
                text3: "Площадь жилого дома 125 м<sup>2</sup>"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            }, 
            {
              link: {
                text: "Подробнее"
              },
              size: "170 м<sup>2</sup>",
              slider: {
                items: [
                  {
                    src: "img/new-1-1.jpg",
                    alt: "Проект Рута 1"
                  },
                  {
                    src: "img/new-1-2.jpg",
                    alt: "Проект Рута 2"
                  },
                  {
                    src: "img/new-1-3.jpg",
                    alt: "Проект Рута 3"
                  },
                  {
                    src: "img/new-1-4.jpg",
                    alt: "Проект Рута 4"
                  },
                  {
                    src: "img/new-1-5.jpg",
                    alt: "Проект Рута 5"
                  },
                ]
              },
              name: "Проект «Лилея»",
              label: "2 этаж",
              descr: {
                text1: "В продаже доступно <b>один дом</b> по данному проекту",
                text2: "Расположен на участке <b>№24</b>",
                text3: "Площадь жилого дома 170 м<sup>2</sup>"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
          ]
        },
        catalog: {
          heading: "Каталог проектов",
          descr: "с возможностью строительства по договору подряда",
          items: [
            {
              link: {
                text: "Подробнее"
              },
              size: "150.54 м<sup>2</sup>",
              img: {
                src: "img/catalog1.jpg",
                alt: "Каталог 1"
              },
              name: "Проект «Лилея-Мини»",
              descr: {
                name: "Общая площадь: ",
                value: "150.54 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "161.76 м<sup>2</sup>",
              img: {
                src: "img/catalog2.jpg",
                alt: "Каталог 2"
              },
              name: "Проект «Купава-мини»",
              descr: {
                name: "Общая площадь: ",
                value: "161.76 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "165.53 м<sup>2</sup>",
              img: {
                src: "img/catalog3.jpg",
                alt: "Каталог 3"
              },
              name: "Проект «Калина»",
              descr: {
                name: "Общая площадь: ",
                value: "165.53 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "206.86 м<sup>2</sup>",
              img: {
                src: "img/catalog4.jpg",
                alt: "Каталог 4"
              },
              name: "Проект «Купава»",
              descr: {
                name: "Общая площадь: ",
                value: "206.86 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "170.16 м<sup>2</sup>",
              img: {
                src: "img/catalog5.jpg",
                alt: "Каталог 5"
              },
              name: "Проект «Лилея»",
              descr: {
                name: "Общая площадь: ",
                value: "170.16 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "198.41 м<sup>2</sup>",
              img: {
                src: "img/catalog6.jpg",
                alt: "Каталог 6"
              },
              name: "Проект «Ягодка-мини»",
              descr: {
                name: "Общая площадь: ",
                value: "198.41 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "210.72 м<sup>2</sup>",
              img: {
                src: "img/catalog7.jpg",
                alt: "Каталог 7"
              },
              name: "Проект «Ягодка»",
              descr: {
                name: "Общая площадь: ",
                value: "210.72 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "214.12 м<sup>2</sup>",
              img: {
                src: "img/catalog8.jpg",
                alt: "Каталог 8"
              },
              name: "Проект «Конвалия»",
              descr: {
                name: "Общая площадь: ",
                value: "214.12 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "229.27 м<sup>2</sup>",
              img: {
                src: "img/catalog9.jpg",
                alt: "Каталог 9"
              },
              name: "Проект «Мальва»",
              descr: {
                name: "Общая площадь: ",
                value: "229.27 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "236.68 м<sup>2</sup>",
              img: {
                src: "img/catalog10.jpg",
                alt: "Каталог 10"
              },
              name: "Проект «Троянда»",
              descr: {
                name: "Общая площадь: ",
                value: "236.68 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "307.65 м<sup>2</sup>",
              img: {
                src: "img/catalog11.jpg",
                alt: "Каталог 11"
              },
              name: "Проект «Барвинок»",
              descr: {
                name: "Общая площадь: ",
                value: "307.65 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
            {
              link: {
                text: "Подробнее"
              },
              size: "125 м<sup>2</sup>",
              img: {
                src: "img/catalog12.jpg",
                alt: "Каталог 12"
              },
              name: "Проект «Рута»",
              descr: {
                name: "Общая площадь: ",
                value: "125 м<sup>2</sup>",
              },
              term: {
                name: "Срок строительства: ",
                value: "5-7 месяцев"
              },
              caption: {
                heading: "Хотите узнать больше об этом коттедже?",
                subheading: "Укажите ваше имя и телефон, и в течении 24 часов с Вами свяжется наш специалист. Он расскажет Вам о всех деталях наших коттеджей. И честно даст ответы на все интересующие Вас вопросы, даже самые неудобные."
              }
            },
          ],
          address: {
            icon: "ic ic-catalogic",
            text: "Специально для поселка \"Лелечий Хутор\" мы привлекли архитектора и разработали неповторимую линейку проектов домов в единой концепци площадью от 125 кв.м. до 307 кв.м."
          }
        }
      }, //- vidget.html
      about: {
        hostname: "about.html",
        title: "О городке",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Лелечий хутiр",
            siteName: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "Лелечий хутiр",
            description: "Лелечий хутiр - коттеджный городок",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        title: "О городке",
        heading: "“ЛЕЛЕЧИЙ ХУТІР”",
        text: "Коттеджный городок «Лелечий Хутір» — решения для тех, кто работает в Киеве, но быстро устает от городской суеты, шума и  хочет больше личного пространства. Покупка загородного дома - это инвестиция в будущие семьи. Спокойствие, свежий воздух, природа – удобства, которые недоступны городским жителям, но так необходимы молодой семье. Если следующая цель семейной жизни это спокойная атмосфера и пополнение то коттеджный комплекс — следующий шаг для развития. Уже несколько лет мы строим дома и совершенствуемся вместе с нашими клиентами. Наша цель — доступный коттедж под Киевом и мы лучшие в этом, потому что:",
        section1: {
          heading: "Удобное расположение:",
          subheading: "17 КМ ПО ЖИТОМИРСКОЙ ТРАССЕ.",
          text: "(21 минута до Станции “Житомирская” согласно Google Maps)."
        },
        section2: {
          heading: "Природа и Экология:",
          text1: "Сосновый лес",
          text2: "Озера и водоемы",
          text3: "Чистый воздух",
          text4: "Экологически чистые строй. материалы",
          text5: "Артезианская скважина (85м)"
        },
        section3: {
          heading: "Качественное Строительство:",
          text: "Спроектировано профессионалами. Покупка и строительство дома — ответственное дело. Поэтому возведение коттеджа происходит под контролем клиента и с использование <span class=\"gorodok__text--span\">экологически чистых материалов.</span>",
          subheading: "Ваш дом всего за 5 месяцев!"
        },
        section4: {
          heading: "Большая Территория:",
          pos1: "Общая территория:",
          value1: "9 гектаров",
          pos2: "Количество участков:",
          value2: "75",
          pos3: "Площадь участков:",
          value3: "от 8 до 12.5 соток"
        },
        section5: {
          heading: "Необходимые коммуникации:",
          text1: "Электро- и газоснабжение",
          text2: "Водоснабжение с системой очистки",
          text3: "Канализация",
          text4: "Интернет (3mb/sec)",
          text5: "Детская площадка",
          text6: "Служба благоустройства"
        },
        subtext: "Помимо того что создаем необходимые условия для комфортной жизни за городом, наш принцип работы:",
        zagor: {
          heading: "Загородный дом, который строите вы!",
          text: "Предлагаем готовые коттеджи, учитывая финансовые особенности и потребности семьи, а также работаем в режиме двустороннего сотрудничества. Работаем в прозрачном режиме: предлагая готовые варианты проектов, команда подрядчиков открыта к клиентам. Поэтому выполнить дополнительные пожелания, внести коррективы в проект не проблема для нас. Купить готовый коттедж легко, но также важно обеспечить комфортный этап строительства. Вы можете начать уже сейчас:",
          item1: {
            number: "1",
            text: "Выберите желаемый участок по <a class=\"gorodok__link\" href=\"http://tagopen.com/hutir/genplan.html\">Генплану</a>"
          },
          item2: {
            number: "2",
            text: "Выбор из 12 коттеджных проектов для будущего дома с доп. требованиями."
          },
          item3: {
            number: "3",
            text: "Оформление и подписание договора."
          },
          item4: {
            number: "4",
            text: "Долгожданное заселение"
          },
          elem1: {
            text: "Доступный одноэтажный загородный <a class=\"gorodok__link\" href=\"http://tagopen.com/hutir/projects.html#projects1\">дом “Рута” 125м2</a>",
            subtext: "Для тех, кто хочет быстро и недорого начать свою новую уютную жизнь."
          },
          elem2: {
            text: "Двухэтажный коттедж престиж класса <a class=\"gorodok__link\" href=\"http://tagopen.com/hutir/projects.html#projects10\">дом “Барвинок” 307м2</a>",
            subtext: "Идеальный вариант для большой семьи, а может сразу и для нескольких!"
          }
        },
        supp: {
          heading: "Поддержка и доверие",
          text: "Планируя переезд в новый дом иногда не значит просто купить готовый коттедж. Для реализации этого желания в кратчайшие сроки и вашего 100% удовлетворения, не обойтись без поддержки и помощи со стороны застройщика. Команда коттеджного городка “ЛЕЛЕЧИЙ ХУТІР” гарантирует вам предоставление всей необходимой информации по выбранному проекту, возможность задать вопрос лично директору городка или связаться с ним, получить юридическую консультацию при оформлении документов на жилье или просто провести ознакомительную экскурсию!",
          subheading: "Также вы можете:"
        }
      }, //- about.html
    }
