
<section class="process">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 process__col process__col--1">
        <div class="process__box">Все юридические процессы законны и прозрачны
          <div class="process__line"></div>
        </div>
      </div>
      <div class="col-sm-6 process__col process__col--2">
        <div class="process__box">Територия городка ограждена и находится под охраной
          <div class="process__line"></div>
        </div>
      </div>
      <div class="col-sm-6 process__col process__col--3">
        <div class="process__box">Дома по договору подряда строятся за ~5 месяцев
          <div class="process__line"></div>
        </div>
      </div>
      <div class="col-sm-6 process__col process__col--4">
        <div class="process__box">Коттеджный поселок «Лелечий Хутор» расчитан на постоянное проживание
          <div class="process__line"></div>
        </div>
      </div>
    </div>
  </div>
</section>