section.about
  .container
    .row.justify-content-center
      .text-center.col-24.col-sm-20.col-offset-2.col-md-16.col-offset-4
        h2.g-title.about__title
          | Коттеджный поселок
          br
          |  «Лелечий Хутор» это:
      .hidden-xs-down.col-md-12
        .about__img
          img.img-fluid(src='img/aboutimg.png', alt='')
      .col-24.col-md-12
        ul.about__list
          li.about__point
            .point__name Экологичная местность
            .point__info
              | Городок окружают пушистые сосны, а озёра поблизости дают возможность для рыбалки и отдыха на воде
          li.about__point
            .point__name Приятные соседи
            .point__info
              | У всех домовладельцев единые жизненные ценности – это стремление к спокойному, приятному проживанию и комфортному отдыху
          li.about__point
            .point__name Ответственное строительство
            .point__info
              | Строительство выполняет компания с опытом более 10 лет. Используются только качественные материалы
          li.about__point
            .point__name Необходимые коммуникации
            .point__info Поселок подключен ко всем благам цивилизации: газ, вода, электричество, интернет
