section.about
  .container
    .row
      .text-center.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        h2.g-title.about__title
          | Коттеджный поселок
          br
          |  «Лелечий Хутор» это:
      .hidden-xs.col-sm-6
        .about__img
          img.img-responsive(src='img/aboutimg.png', alt='')
      .col-sm-6
        ul.about__list
          li.about__point
            .point__name Экологичная местность
            .point__info
              | Городок окружают пушистые сосны, а озёра поблизости дают возможность для рыбалки и отдыха на воде
          li.about__point
            .point__name Приятные соседи
            .point__info
              | У всех домовладельцев единые жизненные ценности – это стремление к спокойному, приятному проживанию и комфортному отдыху
          li.about__point
            .point__name Ответственное строительство
            .point__info
              | Строительство выполняет компания с опытом более 10 лет. Используются только качественные материалы
          li.about__point
            .point__name Необходимые коммуникации
            .point__info Поселок подключен ко всем благам цивилизации: газ, вода, электричество, интернет
