section.address
  .container
    .row.flex-md-row-reverse
      .col-24.col-md-14.address__col
        .address__btn
          a.address__img(data-toggle='modal', href='#address__modal')
            img.img-fluid.address__img--static(src='img/addressimg.png', alt='')
            img.img-fluid.address__img--hover(src='img/addressimghover.png', alt='')
      .col-24.col-md-10
        .address__box
          .address__location.location
            .location__info Лелечный хутор находится
            .location__place
              i.fa.fa-map-marker(aria-hidden='true')
              | возле с.Березовка,
          .address__location.location
            .location__info
              | на расстоянии 29-ти километров езды от станции метро "Житомирская" по скоростной трассе
            .location__place
              i.fa.fa-map-signs(aria-hidden='true')
              | Киев - Житомир
    .row.justify-content-center
      .text-center.col-24.col-lg-20
        .clearfix.address__border
          i.col-xs-4.ic.ic-warranty
          .col-xl-20.address__text
            | Житомирская трасса безопасна, поскольку имеет три полосы движения в каждую сторону, хорошее качество дорожного покрытия, освещается фонарями, а встречное движение отделено отбойниками
