section.advice
  .container
    .row.justify-content-center
      .text-center.col-24.col-md-16
        h2.g-title.advice__title Узнайте как избежать ошибок при покупке дома!
        h3.g-subtitle.advice__subtitle
          | Подпишитесь на нашу рассылку и получайте рекомендации экспертов рынка недвижимости и строителей о том, как выбрать лучшее жилье! В рассылке вы узнаете:
        ul.advice__list
          li.clearfix.advice__point
            .advice__name На каком расстоянии от города должен быть коттеджный городок
          li.clearfix.advice__point
            .advice__name На каком расстоянии от города должен быть коттеджный городок
          li.clearfix.advice__point
            .advice__name Из каких материалов должен быть коттедж
          li.clearfix.advice__point
            .advice__name Сравнение различных видов построек
      .col-24.col-md-12.col-lg-16
        iframe(frameborder='0', src='https://secure.esputnik.com.ua/136OMGsfkms', width='100%', height='184', scrolling='no')
