section.content
  .container
    .row
      .col-lg-6
        .content__box
          h1.content__heading
            | “Лелечий Хутір”
            br
            |  Коттеджный городок
          ul.content__list.list
            li.clearfix.list__item
              span.content__text Экологичная территория;
            li.clearfix.list__item
              span.content__text Единая концепция домов
            li.clearfix.list__item
              span.content__text
                | На всех участках подведены:
                br
                |  газ, вода, свет, интернет
            li.clearfix.list__item
              span.content__text
                | Целевое назначение земельных участков — строительство и обслуживание жилых домов, хозяйственных строений и сооружений.
          button.g-btn.content__btn(data-toggle='modal', data-target='#header__modal2') Получить каталог коттеджей
