section.create
  .container
    .row
      .text-center.col-xs-12.col-sm-10.col-sm-offset-1
        h2.g-title.create__title
          | Мы создали инженерные сети,обеспечивающие нашим покупателям и жителям привычные удобства городской жизни
    .row.create__row
      .col-sm-6.create__col--color
        .create__box.create__box--textpos
          .clearfix.create__name
            | Электричество
            i.ic.ic--create1
          .create__info
            | 15 кВт на дом по трехфазной системе
            | подключения. Электрическая разводка по домовладениям осуществляется по подземным кабельным сетям.
          .create__caret
      .col-sm-6.create__col--incolor
        .create__box
          .clearfix.create__name
            | Газоснабжение
            i.ic.ic--create2
          .create__info
            | Мы предлагаем магистральное газоснабжение. Три газораспределительные системы среднего давления (0.3 МПа) осуществляют подачу газа в каждое домовладение.
    .row.create__row
      .col-sm-6.create__col--incolor
        .create__box.create__box--textpos
          .clearfix.create__name
            | Центральный водопровод
            i.ic.ic--create3
          .create__info
            | Водопровод осуществляет забор воды из чистейшего Бучакского водоносного слоя Киевщины. Вода поступает из артезианской скважины глубиною 85м.
          .create__caret.create__caret--color
      .col-sm-6.create__col--color
        .create__box
          .clearfix.create__name
            | Интернет
            i.ic.ic--create4
          .create__info
            | Высокоскоростной и качественный интернет в настоящее время является не роскошью, а насущной потребностью. Поэтому все наши жильцы имеют доступ к оптоволоконному интернету.
