footer.footer
  .container
    .row
      .col-xs-6.col-sm-3.col-md-2
        a.navbar-brand.navbar__logo(href='')
          img.visible-xs.logo__img(src='img/logo/logo320.png', alt='')
          img.hidden-xs.logo__img(src='img/logo/logo.png', alt='')
      .col-xs-6.col-sm-3.col-md-2.pull-right
        a.phone__link.phone__click(href='tel:380675009955')
          span.phone__link--small (067)
          |  500 99 55
        a.phone__link.phone__click(href='tel:380507297280')
          span.phone__link--small (050)
          |  729 72 80
        a.phone__link.phone__click(href='tel:380444565918')
          span.phone__link--small (044)
          |  496 59 18
        button.phone__btn(data-toggle='modal', data-target='#footer__modal') Заказать звонок
      .text-center.col-xs-12.col-sm-6.col-md-8.footer__copy
        a(href='http://well-done.com.ua/?utm_source=website&utm_medium=clientfooter&utm_campaign=hutirlanding') Сделано с душой студией WELL DONE
