header.headerIn
  .container
    .row
      include ../components/_navIn.pug
  .headerIn__title
    .container
      .row
        .col-xs-12.text-left
          h1.headerIn__title--text!=content.gallery.title 
  