#header__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Форма обратной связи
        span.modal__subheading
          | Оставьте свои контактные данные в этой форме и мы свяжемся с вами в ближайшее время
      form.contactForm.modal__form(method='post', action='mail/mail.php', onsubmit="yaCounter40478820.reachGoal ('zvonokheader'); ga('send', 'event', 'form', 'submit', 'zvonokheader');")
        .form-group
          input.form-control.modal__input.form__name(aria-invalid='false', placeholder='Ваше имя', required='', data-validation-required-message='Please enter your name.', name='name', type='text')
        .form-group
          input.form-control.modal__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required='', data-validation-required-message='Please enter your phone number.', name='phone', type='tel')
        .form-group
          input.form-control.modal__input.form__mail(aria-invalid='false', placeholder='Ваш E-mail', required='', data-validation-required-message='Please enter your phone number.', name='email', type='email')
        .text-center
          button.g-btn(type='submit', name='form', value='Шапка', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Отправить заявку
#footer__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Форма обратной связи
        span.modal__subheading
          | Оставьте свои контактные данные в этой форме и мы свяжемся с вами в ближайшее время
      form.contactForm.modal__form(method='post', action='mail/mail.php', onsubmit="yaCounter40478820.reachGoal ('footer'); ga('send', 'event', 'form', 'submit', 'footer');")
        .form-group
          input.form-control.modal__input.form__name(aria-invalid='false', placeholder='Ваше имя', required='', data-validation-required-message='Please enter your name.', name='name', type='text')
        .form-group
          input.form-control.modal__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required='', data-validation-required-message='Please enter your phone number.', name='phone', type='tel')
        .form-group
          input.form-control.modal__input.form__mail(aria-invalid='false', placeholder='Ваш E-mail', required='', data-validation-required-message='Please enter your phone number.', name='email', type='email')
        .text-center
          button.g-btn(type='submit', name='form', value='Футер' data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Отправить заявку
#address__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size--big
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      iframe(src='https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d20322.352976996088!2d30.33774916851264!3d50.454247467837604!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d50.4559675!2d30.3649727!4m5!1s0x472b486a5ab4084d%3A0xdbd9a59ebb422fda!2z0JHQtdGA0LXQt9C-0LLQutCwLCDQmtC40LXQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsA!3m2!1d50.428639!2d30.0032027!5e0!3m2!1sru!2sus!4v1477946442054', height='450', style='border:0', allowfullscreen='')
          