#header__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Форма обратной связи
        span.modal__subheading
          | Оставьте свои контактные данные в этой форме и мы свяжемся с вами в ближайшее время
      form.contactForm.modal__form(method='post', action='mail/mail.php', onsubmit="yaCounter40478820.reachGoal ('zvonokheader'); ga('send', 'event', 'form', 'submit', 'zvonokheader');")
        .form-group
          input.form-control.modal__input.form__name(aria-invalid='false', placeholder='Ваше имя', required='', data-validation-required-message='Please enter your name.', name='name', type='text')
        .form-group
          input.form-control.modal__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required='', data-validation-required-message='Please enter your phone number.', name='phone', type='tel')
        .form-group
          input.form-control.modal__input.form__mail(aria-invalid='false', placeholder='Ваш E-mail', required='', data-validation-required-message='Please enter your phone number.', name='email', type='email')
        .text-center
          button.g-btn(type='submit', name='form', value='Шапка', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Отправить заявку

#header__modal2.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        span.modal__subheading
          | Оставьте свои контакты, чтобы мы отправили вам каталог домов и могли связаться с вами для уточнения деталей
      form.contactForm.modal__form(method='post', action='mail/mail.php', onsubmit="yaCounter40478820.reachGoal ('firstscreen'); ga('send', 'event', 'form', 'submit', 'firstscreen');")
        .form-group
          input.form-control.modal__input.form__name(aria-invalid='false', placeholder='Ваше имя', required='', data-validation-required-message='Please enter your name.', name='name', type='text')
        .form-group
          input.form-control.modal__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required='', data-validation-required-message='Please enter your phone number.', name='phone', type='tel')
        .form-group
          input.form-control.modal__input.form__mail(aria-invalid='false', placeholder='Ваш E-mail', required='', data-validation-required-message='Please enter your phone number.', name='email', type='email')
        .text-center
          button.g-btn(type='submit', name='form', value='Первый экран' data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Получить каталог коттеджей

#address__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size--big
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      iframe(src='https://www.google.com/maps/embed?pb=!1m22!1m8!1m3!1d20322.352976996088!2d30.33774916851264!3d50.454247467837604!3m2!1i1024!2i768!4f13.1!4m11!3e0!4m3!3m2!1d50.4559675!2d30.3649727!4m5!1s0x472b486a5ab4084d%3A0xdbd9a59ebb422fda!2z0JHQtdGA0LXQt9C-0LLQutCwLCDQmtC40LXQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsA!3m2!1d50.428639!2d30.0032027!5e0!3m2!1sru!2sus!4v1477946442054', height='450', style='border:0', allowfullscreen='')

#footer__modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .modal__head
        p.modal__heading Форма обратной связи
        span.modal__subheading
          | Оставьте свои контактные данные в этой форме и мы свяжемся с вами в ближайшее время
      form.contactForm.modal__form(method='post', action='mail/mail.php', onsubmit="yaCounter40478820.reachGoal ('footer'); ga('send', 'event', 'form', 'submit', 'footer');")
        .form-group
          input.form-control.modal__input.form__name(aria-invalid='false', placeholder='Ваше имя', required='', data-validation-required-message='Please enter your name.', name='name', type='text')
        .form-group
          input.form-control.modal__input.form__phone(aria-invalid='false', placeholder='Ваш телефон', required='', data-validation-required-message='Please enter your phone number.', name='phone', type='tel')
        .form-group
          input.form-control.modal__input.form__mail(aria-invalid='false', placeholder='Ваш E-mail', required='', data-validation-required-message='Please enter your phone number.', name='email', type='email')
        .text-center
          button.g-btn(type='submit', name='form', value='Футер' data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Отправить заявку

#popup.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size.modal__size--wide
    .modal-content.modal__content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        i.fa.fa-times(aria-hidden='true')
      .row
        .col-12.col-sm-6
          .catalog__image.catalog--height.catalog__image--sky.catalog-image
            i.ic.ic--s-125.hidden-xs.catalog-image__icon.catalog-image__icon--1
            i.ic.ic--s-125-xs.visible-xs.catalog-image__icon.catalog-image__icon--1
            i.ic.ic--house-xs.visible-xs.catalog-image__icon.catalog-image__icon--2
            i.ic.ic--house.hidden-xs.catalog-image__icon.catalog-image__icon--2
        .col-12.col-sm-6
          .catalog__caption.catalog--height
            .catalog__caption--heading Ваши пожелания услышаны!
            .catalog__caption--subheading
              | В продаже появились три эксклюзивных коттеджа площадью 
              b 125 м
                sup 2
                | ! 
              | Все дома имеют террасу с волшебным видом на сосновый лес. Чтобы узнать подробную информацию, оставьте ваш номер телефона и мы ответим на все ваши вопросы!
            form.row.contactForm(method='post', action='mail/mail.php')
              .col-xs-8.col-xs-offset-2.col-sm-12.col-sm-offset-0
                .form-group
                  input.form-control.catalog__input.catalog__input--up.form__phone(placeholder='Ваш номер телефона', required, name='phone', type='tel')

                .text-center
                  button.g-btn.catalog__button.catalog__button--up(name='form', value='Пожелания услышаны' type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Узнать детали о новых коттеджах
            .notify
              | Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с 
              a.notify__link(href="#") Политикой конфиденциальности

