section.plan
  .container
    .row
      .text-center.col-xs-12.col-sm-10.col-sm-offset-1
        h2.g-title.plan__title Генплан
    .row
      .col-xs-12.col-sm-7
        .plan__img
          img.img-responsive(src='img/plan.jpg', alt='')
      .col-xs-12.col-sm-5.plan__col
        .plan__box
          .plan__info на территории в 9 га генпланом предусмотрено
          span.plan__place
            i.fa.fa-home(aria-hidden='true')
            | 75 коттеджей
        .plan__box
          .plan__info на участках площадью
          span.plan__place
            i.fa.fa-hashtag(aria-hidden='true')
            | от 8 до 12,5 сотки
