section.project
  .container
    .row.justify-content-center
      .text-center.col-24.col-md-20.col-lg-16
        h2.g-title.project__title
          | Продается коттедж
          br
          |  по проекту «Лилея»
    .row
      .col-24.col-md-12
        .project__slider.slider
          .slider__item
            img.img-fluid(src='img/projectslider1.jpg', alt='')
          .slider__item
            img.img-fluid(src='img/projectslider2.jpg', alt='')
          .slider__item
            img.img-fluid(src='img/projectslider3.jpg', alt='')
          .slider__item
            img.img-fluid(src='img/projectslider4.jpg', alt='')
        .row.justify-content-center
          .col-20.project__slider--small
            .slider__item--small
              img.img-fluid(src='img/projectslider1.jpg', alt='')
            .slider__item--small
              img.img-fluid(src='img/projectslider2.jpg', alt='')
            .slider__item--small
              img.img-fluid(src='img/projectslider3.jpg', alt='')
            .slider__item--small
              img.img-fluid(src='img/projectslider4.jpg', alt='')
      .col-24.col-md-12
        .project__heading
          | Дом построен на участке площадью 0,078га, по проекту "Лилея", общей площадью 170м.кв.
        .project__subheading
          | К дому подключено электричество (3 фазы, 15 кВт), водопровод, канализация, интернет. Внешняя отделка завершена. Внутри отделка после строителей, что позволит Вам сделать дизайн
          | по своим требованиями или выбрать из предложенных нами вариантов
        .project__contact
          div Оставьте свой эмейл и получите мгновенный доступ к файлу
          span.project__contact--text с генпланом дома, техническими характеристиками и ценой!
          i.hidden-sm-down.ic.ic-arrow
        form.clearfix.contactForm(method='post', action='mail/mail.php', onsubmit="yaCounter40478820.reachGoal ('lileya'); ga('send', 'event', 'form', 'submit', 'lileya');")
          .form-group.col-24.col-xl-16.form__size
            input.form-control.form__input.modal__input.form__mail( placeholder='Введите ваш E-mail', required, name='email', type='email')
          .text-center.col-24.col-xl-16.form__size
            button.g-btn.project__btn(name='Регистрация', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Получить подробности о коттедже
