section.process
  .container
    .row
      .col-24.col-md-12.process__col.process__col--1
        .process__box
          | Все юридические процессы законны и прозрачны
          .process__line
      .col-24.col-md-12.process__col.process__col--2
        .process__box
          | Територия городка ограждена и находится под охраной
          .process__line
      .col-24.col-md-12.process__col.process__col--3
        .process__box
          | Дома по договору подряда строятся за ~5 месяцев
          .process__line
      .col-24.col-md-12.process__col.process__col--4
        .process__box
          | Коттеджный поселок «Лелечий Хутор» расчитан на постоянное проживание
          .process__line
