section.process.process--about
  .container
    .row
      .col-sm-6.process__col.process__col--1
        .process__box
          | Законность и правильное юридическое оформление
          .process__line
      .col-sm-6.process__col.process__col--2-about
        .process__box
          | Возможность приобрести коттедж в рассрочку
          .process__line
      .col-sm-6.process__col.process__col--3-about
        .process__box
          | Безопасность и круглосуточная охрана
          .process__line
      .col-sm-6.process__col.process__col--4-about
        .process__box
          | Приятные и вежливые соседи
          .process__line
