section.register
  .container
    .row.justify-content-center
      .text-center.col-24.col-md-20.col-lg-16
        h2.g-title.register__title
          | Запишитесь на просмотр, чтобы
          br
          |  увидеть наш городок вживую!
      .col-24.col-xl-16
        form.contactForm( method='post', action='mail/mail.php', onsubmit="yaCounter40478820.reachGoal ('prosmotr'); ga('send', 'event', 'form', 'submit', 'prosmotr');")
          .row
            .form-group.col-24.col-md-12.form__size--tablet
              input.form-control.form__input(placeholder='Введите ваш телефон', required, name='phone', type='tel')
            .text-center.col-24.col-md-12.form__size--tablet
              button.g-btn(name='Регистрация', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Записаться на просмотр коттеджей
