section.scheme
  .container
    .row
      .text-center.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        h2.g-title.scheme__title Схема дома
    .row
      .scheme__box.scheme__box--1
        .scheme__btn
          i.ic.ic--scheme.scheme__icon
          i.scheme__icon.scheme__icon--hover -
          .scheme__info.scheme__info--left
            | Кровля
            br
            |                 Битумная черепица, утеплитель 200 мм
      .scheme__box.scheme__box--2
        .scheme__btn
          i.ic.ic--scheme.scheme__icon
          i.scheme__icon.scheme__icon--hover -
          .scheme__info.scheme__info--right
            | Окна
            br
            | Современный 2-камерный ПВХ стеклопакет, 5-камерный профиль, обеспечат максимальное энергосбережение и шумопоглощение
      .scheme__box.scheme__box--3
        .scheme__btn
          i.ic.ic--scheme.scheme__icon
          i.scheme__icon.scheme__icon--hover -
          .scheme__info.scheme__info--left
            | Стены
            br
            | Газобетон пористый. Утепление фасада- пенополистирол М25, 100 мм
      .scheme__box.scheme__box--4
        .scheme__btn
          i.ic.ic--scheme.scheme__icon
          i.scheme__icon.scheme__icon--hover -
          .scheme__info.scheme__info--right
            | Коммуникации
            br
            |                 Электричество - 15 кВт по трехфазной системе подключения. Электрическая разводка по домовладениям осуществляется по подземным кабельным сетям.
    .row
      .text-center.col-xs-12.col-lg-6.col-lg-offset-3
        .clearfix.scheme__border
          .scheme__text При строительстве используются только экологичные материалы и технологии
