// arrow__left
$svg-arrow__left-name: "arrow__left";
$svg-arrow__left-width: em(16.91);
$svg-arrow__left-height: em(32);
$svg-arrow__left-offset-x: px;
$svg-arrow__left-offset-y: px;
$svg-arrow__left-image: "../img/sprite.svg";
$svg-arrow__left: ( "arrow__left", em(16.91), em(32), px, px, "../img/sprite.svg" );

// arrow__right
$svg-arrow__right-name: "arrow__right";
$svg-arrow__right-width: em(16.91);
$svg-arrow__right-height: em(32);
$svg-arrow__right-offset-x: px;
$svg-arrow__right-offset-y: px;
$svg-arrow__right-image: "../img/sprite.svg";
$svg-arrow__right: ( "arrow__right", em(16.91), em(32), px, px, "../img/sprite.svg" );

// building
$svg-building-name: "building";
$svg-building-width: em(28);
$svg-building-height: em(29);
$svg-building-offset-x: px;
$svg-building-offset-y: px;
$svg-building-image: "../img/sprite.svg";
$svg-building: ( "building", em(28), em(29), px, px, "../img/sprite.svg" );

// cool
$svg-cool-name: "cool";
$svg-cool-width: em(24);
$svg-cool-height: em(28);
$svg-cool-offset-x: px;
$svg-cool-offset-y: px;
$svg-cool-image: "../img/sprite.svg";
$svg-cool: ( "cool", em(24), em(28), px, px, "../img/sprite.svg" );

// divider
$svg-divider-name: "divider";
$svg-divider-width: em(20);
$svg-divider-height: em(28);
$svg-divider-offset-x: px;
$svg-divider-offset-y: px;
$svg-divider-image: "../img/sprite.svg";
$svg-divider: ( "divider", em(20), em(28), px, px, "../img/sprite.svg" );

// flag
$svg-flag-name: "flag";
$svg-flag-width: em(25);
$svg-flag-height: em(29);
$svg-flag-offset-x: px;
$svg-flag-offset-y: px;
$svg-flag-image: "../img/sprite.svg";
$svg-flag: ( "flag", em(25), em(29), px, px, "../img/sprite.svg" );

// group
$svg-group-name: "group";
$svg-group-width: em(27);
$svg-group-height: em(21);
$svg-group-offset-x: px;
$svg-group-offset-y: px;
$svg-group-image: "../img/sprite.svg";
$svg-group: ( "group", em(27), em(21), px, px, "../img/sprite.svg" );

// home
$svg-home-name: "home";
$svg-home-width: em(29);
$svg-home-height: em(25);
$svg-home-offset-x: px;
$svg-home-offset-y: px;
$svg-home-image: "../img/sprite.svg";
$svg-home: ( "home", em(29), em(25), px, px, "../img/sprite.svg" );

// info
$svg-info-name: "info";
$svg-info-width: em(23);
$svg-info-height: em(24);
$svg-info-offset-x: px;
$svg-info-offset-y: px;
$svg-info-image: "../img/sprite.svg";
$svg-info: ( "info", em(23), em(24), px, px, "../img/sprite.svg" );

// instruments
$svg-instruments-name: "instruments";
$svg-instruments-width: em(29);
$svg-instruments-height: em(29);
$svg-instruments-offset-x: px;
$svg-instruments-offset-y: px;
$svg-instruments-image: "../img/sprite.svg";
$svg-instruments: ( "instruments", em(29), em(29), px, px, "../img/sprite.svg" );

// jack
$svg-jack-name: "jack";
$svg-jack-width: em(22);
$svg-jack-height: em(27);
$svg-jack-offset-x: px;
$svg-jack-offset-y: px;
$svg-jack-image: "../img/sprite.svg";
$svg-jack: ( "jack", em(22), em(27), px, px, "../img/sprite.svg" );

// lock
$svg-lock-name: "lock";
$svg-lock-width: em(24.42);
$svg-lock-height: em(32);
$svg-lock-offset-x: px;
$svg-lock-offset-y: px;
$svg-lock-image: "../img/sprite.svg";
$svg-lock: ( "lock", em(24.42), em(32), px, px, "../img/sprite.svg" );

// meter
$svg-meter-name: "meter";
$svg-meter-width: em(28);
$svg-meter-height: em(27);
$svg-meter-offset-x: px;
$svg-meter-offset-y: px;
$svg-meter-image: "../img/sprite.svg";
$svg-meter: ( "meter", em(28), em(27), px, px, "../img/sprite.svg" );

// pillar
$svg-pillar-name: "pillar";
$svg-pillar-width: em(23);
$svg-pillar-height: em(28);
$svg-pillar-offset-x: px;
$svg-pillar-offset-y: px;
$svg-pillar-image: "../img/sprite.svg";
$svg-pillar: ( "pillar", em(23), em(28), px, px, "../img/sprite.svg" );

// populated
$svg-populated-name: "populated";
$svg-populated-width: em(32);
$svg-populated-height: em(32);
$svg-populated-offset-x: px;
$svg-populated-offset-y: px;
$svg-populated-image: "../img/sprite.svg";
$svg-populated: ( "populated", em(32), em(32), px, px, "../img/sprite.svg" );

// selling
$svg-selling-name: "selling";
$svg-selling-width: em(32);
$svg-selling-height: em(30.17);
$svg-selling-offset-x: px;
$svg-selling-offset-y: px;
$svg-selling-image: "../img/sprite.svg";
$svg-selling: ( "selling", em(32), em(30.17), px, px, "../img/sprite.svg" );

// star
$svg-star-name: "star";
$svg-star-width: em(29);
$svg-star-height: em(29);
$svg-star-offset-x: px;
$svg-star-offset-y: px;
$svg-star-image: "../img/sprite.svg";
$svg-star: ( "star", em(29), em(29), px, px, "../img/sprite.svg" );

// three
$svg-three-name: "three";
$svg-three-width: em(27);
$svg-three-height: em(28);
$svg-three-offset-x: px;
$svg-three-offset-y: px;
$svg-three-image: "../img/sprite.svg";
$svg-three: ( "three", em(27), em(28), px, px, "../img/sprite.svg" );

// time
$svg-time-name: "time";
$svg-time-width: em(29);
$svg-time-height: em(28);
$svg-time-offset-x: px;
$svg-time-offset-y: px;
$svg-time-image: "../img/sprite.svg";
$svg-time: ( "time", em(29), em(28), px, px, "../img/sprite.svg" );

// touch
$svg-touch-name: "touch";
$svg-touch-width: em(22);
$svg-touch-height: em(28);
$svg-touch-offset-x: px;
$svg-touch-offset-y: px;
$svg-touch-image: "../img/sprite.svg";
$svg-touch: ( "touch", em(22), em(28), px, px, "../img/sprite.svg" );


$svg-spritesheet-width: px;
$svg-spritesheet-height: px;
$svg-spritesheet-image: "../img/sprite.svg";
$svg-spritesheet-sprites: ( $svg-arrow__left,  $svg-arrow__right,  $svg-building,  $svg-cool,  $svg-divider,  $svg-flag,  $svg-group,  $svg-home,  $svg-info,  $svg-instruments,  $svg-jack,  $svg-lock,  $svg-meter,  $svg-pillar,  $svg-populated,  $svg-selling,  $svg-star,  $svg-three,  $svg-time,  $svg-touch,  );
