// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$about1-name: 'about1'
$about1-x: 803px
$about1-y: 461px
$about1-offset-x: -803px
$about1-offset-y: -461px
$about1-width: 24px
$about1-height: 24px
$about1-total-width: 842px
$about1-total-height: 716px
$about1-image: 'sprite.png'
$about1: (803px, 461px, -803px, -461px, 24px, 24px, 842px, 716px, 'sprite.png', 'about1', )
$about10-name: 'about10'
$about10-x: 803px
$about10-y: 688px
$about10-offset-x: -803px
$about10-offset-y: -688px
$about10-width: 17px
$about10-height: 17px
$about10-total-width: 842px
$about10-total-height: 716px
$about10-image: 'sprite.png'
$about10: (803px, 688px, -803px, -688px, 17px, 17px, 842px, 716px, 'sprite.png', 'about10', )
$about11-name: 'about11'
$about11-x: 803px
$about11-y: 592px
$about11-offset-x: -803px
$about11-offset-y: -592px
$about11-width: 21px
$about11-height: 20px
$about11-total-width: 842px
$about11-total-height: 716px
$about11-image: 'sprite.png'
$about11: (803px, 592px, -803px, -592px, 21px, 20px, 842px, 716px, 'sprite.png', 'about11', )
$about2-name: 'about2'
$about2-x: 803px
$about2-y: 495px
$about2-offset-x: -803px
$about2-offset-y: -495px
$about2-width: 21px
$about2-height: 25px
$about2-total-width: 842px
$about2-total-height: 716px
$about2-image: 'sprite.png'
$about2: (803px, 495px, -803px, -495px, 21px, 25px, 842px, 716px, 'sprite.png', 'about2', )
$about3-name: 'about3'
$about3-x: 803px
$about3-y: 530px
$about3-offset-x: -803px
$about3-offset-y: -530px
$about3-width: 23px
$about3-height: 21px
$about3-total-width: 842px
$about3-total-height: 716px
$about3-image: 'sprite.png'
$about3: (803px, 530px, -803px, -530px, 23px, 21px, 842px, 716px, 'sprite.png', 'about3', )
$about4-name: 'about4'
$about4-x: 803px
$about4-y: 423px
$about4-offset-x: -803px
$about4-offset-y: -423px
$about4-width: 24px
$about4-height: 28px
$about4-total-width: 842px
$about4-total-height: 716px
$about4-image: 'sprite.png'
$about4: (803px, 423px, -803px, -423px, 24px, 28px, 842px, 716px, 'sprite.png', 'about4', )
$about5-name: 'about5'
$about5-x: 803px
$about5-y: 387px
$about5-offset-x: -803px
$about5-offset-y: -387px
$about5-width: 26px
$about5-height: 26px
$about5-total-width: 842px
$about5-total-height: 716px
$about5-image: 'sprite.png'
$about5: (803px, 387px, -803px, -387px, 26px, 26px, 842px, 716px, 'sprite.png', 'about5', )
$about6-name: 'about6'
$about6-x: 823px
$about6-y: 649px
$about6-offset-x: -823px
$about6-offset-y: -649px
$about6-width: 15px
$about6-height: 21px
$about6-total-width: 842px
$about6-total-height: 716px
$about6-image: 'sprite.png'
$about6: (823px, 649px, -823px, -649px, 15px, 21px, 842px, 716px, 'sprite.png', 'about6', )
$about7-name: 'about7'
$about7-x: 803px
$about7-y: 561px
$about7-offset-x: -803px
$about7-offset-y: -561px
$about7-width: 21px
$about7-height: 21px
$about7-total-width: 842px
$about7-total-height: 716px
$about7-image: 'sprite.png'
$about7: (803px, 561px, -803px, -561px, 21px, 21px, 842px, 716px, 'sprite.png', 'about7', )
$about8-name: 'about8'
$about8-x: 630px
$about8-y: 510px
$about8-offset-x: -630px
$about8-offset-y: -510px
$about8-width: 18px
$about8-height: 15px
$about8-total-width: 842px
$about8-total-height: 716px
$about8-image: 'sprite.png'
$about8: (630px, 510px, -630px, -510px, 18px, 15px, 842px, 716px, 'sprite.png', 'about8', )
$about9-name: 'about9'
$about9-x: 803px
$about9-y: 622px
$about9-offset-x: -803px
$about9-offset-y: -622px
$about9-width: 21px
$about9-height: 17px
$about9-total-width: 842px
$about9-total-height: 716px
$about9-image: 'sprite.png'
$about9: (803px, 622px, -803px, -622px, 21px, 17px, 842px, 716px, 'sprite.png', 'about9', )
$arrow-name: 'arrow'
$arrow-x: 630px
$arrow-y: 175px
$arrow-offset-x: -630px
$arrow-offset-y: -175px
$arrow-width: 72px
$arrow-height: 182px
$arrow-total-width: 842px
$arrow-total-height: 716px
$arrow-image: 'sprite.png'
$arrow: (630px, 175px, -630px, -175px, 72px, 182px, 842px, 716px, 'sprite.png', 'arrow', )
$arrow-fff-name: 'arrow_fff'
$arrow-fff-x: 803px
$arrow-fff-y: 0px
$arrow-fff-offset-x: -803px
$arrow-fff-offset-y: 0px
$arrow-fff-width: 39px
$arrow-fff-height: 120px
$arrow-fff-total-width: 842px
$arrow-fff-total-height: 716px
$arrow-fff-image: 'sprite.png'
$arrow-fff: (803px, 0px, -803px, 0px, 39px, 120px, 842px, 716px, 'sprite.png', 'arrow_fff', )
$call2-name: 'call2'
$call2-x: 803px
$call2-y: 347px
$call2-offset-x: -803px
$call2-offset-y: -347px
$call2-width: 30px
$call2-height: 30px
$call2-total-width: 842px
$call2-total-height: 716px
$call2-image: 'sprite.png'
$call2: (803px, 347px, -803px, -347px, 30px, 30px, 842px, 716px, 'sprite.png', 'call2', )
$catalogic-name: 'catalogic'
$catalogic-x: 491px
$catalogic-y: 237px
$catalogic-offset-x: -491px
$catalogic-offset-y: -237px
$catalogic-width: 105px
$catalogic-height: 92px
$catalogic-total-width: 842px
$catalogic-total-height: 716px
$catalogic-image: 'sprite.png'
$catalogic: (491px, 237px, -491px, -237px, 105px, 92px, 842px, 716px, 'sprite.png', 'catalogic', )
$create1-name: 'create1'
$create1-x: 803px
$create1-y: 194px
$create1-offset-x: -803px
$create1-offset-y: -194px
$create1-width: 32px
$create1-height: 45px
$create1-total-width: 842px
$create1-total-height: 716px
$create1-image: 'sprite.png'
$create1: (803px, 194px, -803px, -194px, 32px, 45px, 842px, 716px, 'sprite.png', 'create1', )
$create2-name: 'create2'
$create2-x: 803px
$create2-y: 130px
$create2-offset-x: -803px
$create2-offset-y: -130px
$create2-width: 27px
$create2-height: 54px
$create2-total-width: 842px
$create2-total-height: 716px
$create2-image: 'sprite.png'
$create2: (803px, 130px, -803px, -130px, 27px, 54px, 842px, 716px, 'sprite.png', 'create2', )
$create3-name: 'create3'
$create3-x: 803px
$create3-y: 249px
$create3-offset-x: -803px
$create3-offset-y: -249px
$create3-width: 31px
$create3-height: 43px
$create3-total-width: 842px
$create3-total-height: 716px
$create3-image: 'sprite.png'
$create3: (803px, 249px, -803px, -249px, 31px, 43px, 842px, 716px, 'sprite.png', 'create3', )
$create4-name: 'create4'
$create4-x: 558px
$create4-y: 418px
$create4-offset-x: -558px
$create4-offset-y: -418px
$create4-width: 44px
$create4-height: 43px
$create4-total-width: 842px
$create4-total-height: 716px
$create4-image: 'sprite.png'
$create4: (558px, 418px, -558px, -418px, 44px, 43px, 842px, 716px, 'sprite.png', 'create4', )
$fancyclose-name: 'fancyclose'
$fancyclose-x: 778px
$fancyclose-y: 289px
$fancyclose-offset-x: -778px
$fancyclose-offset-y: -289px
$fancyclose-width: 13px
$fancyclose-height: 13px
$fancyclose-total-width: 842px
$fancyclose-total-height: 716px
$fancyclose-image: 'sprite.png'
$fancyclose: (778px, 289px, -778px, -289px, 13px, 13px, 842px, 716px, 'sprite.png', 'fancyclose', )
$fb-name: 'fb'
$fb-x: 546px
$fb-y: 339px
$fb-offset-x: -546px
$fb-offset-y: -339px
$fb-width: 45px
$fb-height: 45px
$fb-total-width: 842px
$fb-total-height: 716px
$fb-image: 'sprite.png'
$fb: (546px, 339px, -546px, -339px, 45px, 45px, 842px, 716px, 'sprite.png', 'fb', )
$genic1-name: 'genic1'
$genic1-x: 0px
$genic1-y: 638px
$genic1-offset-x: 0px
$genic1-offset-y: -638px
$genic1-width: 95px
$genic1-height: 78px
$genic1-total-width: 842px
$genic1-total-height: 716px
$genic1-image: 'sprite.png'
$genic1: (0px, 638px, 0px, -638px, 95px, 78px, 842px, 716px, 'sprite.png', 'genic1', )
$genic2-name: 'genic2'
$genic2-x: 630px
$genic2-y: 367px
$genic2-offset-x: -630px
$genic2-offset-y: -367px
$genic2-width: 146px
$genic2-height: 67px
$genic2-total-width: 842px
$genic2-total-height: 716px
$genic2-image: 'sprite.png'
$genic2: (630px, 367px, -630px, -367px, 146px, 67px, 842px, 716px, 'sprite.png', 'genic2', )
$genic3-name: 'genic3'
$genic3-x: 251px
$genic3-y: 542px
$genic3-offset-x: -251px
$genic3-offset-y: -542px
$genic3-width: 252px
$genic3-height: 65px
$genic3-total-width: 842px
$genic3-total-height: 716px
$genic3-image: 'sprite.png'
$genic3: (251px, 542px, -251px, -542px, 252px, 65px, 842px, 716px, 'sprite.png', 'genic3', )
$hand1200-name: 'hand1200'
$hand1200-x: 320px
$hand1200-y: 418px
$hand1200-offset-x: -320px
$hand1200-offset-y: -418px
$hand1200-width: 228px
$hand1200-height: 92px
$hand1200-total-width: 842px
$hand1200-total-height: 716px
$hand1200-image: 'sprite.png'
$hand1200: (320px, 418px, -320px, -418px, 228px, 92px, 842px, 716px, 'sprite.png', 'hand1200', )
$hand320-name: 'hand320'
$hand320-x: 630px
$hand320-y: 444px
$hand320-offset-x: -630px
$hand320-offset-y: -444px
$hand320-width: 140px
$hand320-height: 56px
$hand320-total-width: 842px
$hand320-total-height: 716px
$hand320-image: 'sprite.png'
$hand320: (630px, 444px, -630px, -444px, 140px, 56px, 842px, 716px, 'sprite.png', 'hand320', )
$house-xs-name: 'house-xs'
$house-xs-x: 0px
$house-xs-y: 418px
$house-xs-offset-x: 0px
$house-xs-offset-y: -418px
$house-xs-width: 310px
$house-xs-height: 114px
$house-xs-total-width: 842px
$house-xs-total-height: 716px
$house-xs-image: 'sprite.png'
$house-xs: (0px, 418px, 0px, -418px, 310px, 114px, 842px, 716px, 'sprite.png', 'house-xs', )
$house-name: 'house'
$house-x: 0px
$house-y: 0px
$house-offset-x: 0px
$house-offset-y: 0px
$house-width: 620px
$house-height: 227px
$house-total-width: 842px
$house-total-height: 716px
$house-image: 'sprite.png'
$house: (0px, 0px, 0px, 0px, 620px, 227px, 842px, 716px, 'sprite.png', 'house', )
$list-name: 'list'
$list-x: 630px
$list-y: 0px
$list-offset-x: -630px
$list-offset-y: 0px
$list-width: 163px
$list-height: 165px
$list-total-width: 842px
$list-total-height: 716px
$list-image: 'sprite.png'
$list: (630px, 0px, -630px, 0px, 163px, 165px, 842px, 716px, 'sprite.png', 'list', )
$meget-name: 'meget'
$meget-x: 491px
$meget-y: 339px
$meget-offset-x: -491px
$meget-offset-y: -339px
$meget-width: 45px
$meget-height: 45px
$meget-total-width: 842px
$meget-total-height: 716px
$meget-image: 'sprite.png'
$meget: (491px, 339px, -491px, -339px, 45px, 45px, 842px, 716px, 'sprite.png', 'meget', )
$s-125-xs-name: 's-125-xs'
$s-125-xs-x: 0px
$s-125-xs-y: 542px
$s-125-xs-offset-x: 0px
$s-125-xs-offset-y: -542px
$s-125-xs-width: 241px
$s-125-xs-height: 86px
$s-125-xs-total-width: 842px
$s-125-xs-total-height: 716px
$s-125-xs-image: 'sprite.png'
$s-125-xs: (0px, 542px, 0px, -542px, 241px, 86px, 842px, 716px, 'sprite.png', 's-125-xs', )
$s-125-name: 's-125'
$s-125-x: 0px
$s-125-y: 237px
$s-125-offset-x: 0px
$s-125-offset-y: -237px
$s-125-width: 481px
$s-125-height: 171px
$s-125-total-width: 842px
$s-125-total-height: 716px
$s-125-image: 'sprite.png'
$s-125: (0px, 237px, 0px, -237px, 481px, 171px, 842px, 716px, 'sprite.png', 's-125', )
$scheme-name: 'scheme'
$scheme-x: 803px
$scheme-y: 649px
$scheme-offset-x: -803px
$scheme-offset-y: -649px
$scheme-width: 10px
$scheme-height: 29px
$scheme-total-width: 842px
$scheme-total-height: 716px
$scheme-image: 'sprite.png'
$scheme: (803px, 649px, -803px, -649px, 10px, 29px, 842px, 716px, 'sprite.png', 'scheme', )
$warranty-name: 'warranty'
$warranty-x: 712px
$warranty-y: 175px
$warranty-offset-x: -712px
$warranty-offset-y: -175px
$warranty-width: 77px
$warranty-height: 104px
$warranty-total-width: 842px
$warranty-total-height: 716px
$warranty-image: 'sprite.png'
$warranty: (712px, 175px, -712px, -175px, 77px, 104px, 842px, 716px, 'sprite.png', 'warranty', )
$zoom-name: 'zoom'
$zoom-x: 712px
$zoom-y: 289px
$zoom-offset-x: -712px
$zoom-offset-y: -289px
$zoom-width: 56px
$zoom-height: 57px
$zoom-total-width: 842px
$zoom-total-height: 716px
$zoom-image: 'sprite.png'
$zoom: (712px, 289px, -712px, -289px, 56px, 57px, 842px, 716px, 'sprite.png', 'zoom', )
$zoomorange-name: 'zoomorange'
$zoomorange-x: 803px
$zoomorange-y: 302px
$zoomorange-offset-x: -803px
$zoomorange-offset-y: -302px
$zoomorange-width: 35px
$zoomorange-height: 35px
$zoomorange-total-width: 842px
$zoomorange-total-height: 716px
$zoomorange-image: 'sprite.png'
$zoomorange: (803px, 302px, -803px, -302px, 35px, 35px, 842px, 716px, 'sprite.png', 'zoomorange', )
$spritesheet-width: 842px
$spritesheet-height: 716px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($about1, $about10, $about11, $about2, $about3, $about4, $about5, $about6, $about7, $about8, $about9, $arrow, $arrow-fff, $call2, $catalogic, $create1, $create2, $create3, $create4, $fancyclose, $fb, $genic1, $genic2, $genic3, $hand1200, $hand320, $house-xs, $house, $list, $meget, $s-125-xs, $s-125, $scheme, $warranty, $zoom, $zoomorange, )
$spritesheet: (842px, 716px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
