// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-name: 'arrow'
$arrow-x: 630px
$arrow-y: 175px
$arrow-offset-x: -630px
$arrow-offset-y: -175px
$arrow-width: 72px
$arrow-height: 182px
$arrow-total-width: 793px
$arrow-total-height: 737px
$arrow-image: 'sprite.png'
$arrow: (630px, 175px, -630px, -175px, 72px, 182px, 793px, 737px, 'sprite.png', 'arrow', )
$arrow-fff-name: 'arrow_fff'
$arrow-fff-x: 0px
$arrow-fff-y: 617px
$arrow-fff-offset-x: 0px
$arrow-fff-offset-y: -617px
$arrow-fff-width: 39px
$arrow-fff-height: 120px
$arrow-fff-total-width: 793px
$arrow-fff-total-height: 737px
$arrow-fff-image: 'sprite.png'
$arrow-fff: (0px, 617px, 0px, -617px, 39px, 120px, 793px, 737px, 'sprite.png', 'arrow_fff', )
$call2-name: 'call2'
$call2-x: 390px
$call2-y: 542px
$call2-offset-x: -390px
$call2-offset-y: -542px
$call2-width: 30px
$call2-height: 30px
$call2-total-width: 793px
$call2-total-height: 737px
$call2-image: 'sprite.png'
$call2: (390px, 542px, -390px, -542px, 30px, 30px, 793px, 737px, 'sprite.png', 'call2', )
$catalogic-name: 'catalogic'
$catalogic-x: 491px
$catalogic-y: 237px
$catalogic-offset-x: -491px
$catalogic-offset-y: -237px
$catalogic-width: 105px
$catalogic-height: 92px
$catalogic-total-width: 793px
$catalogic-total-height: 737px
$catalogic-image: 'sprite.png'
$catalogic: (491px, 237px, -491px, -237px, 105px, 92px, 793px, 737px, 'sprite.png', 'catalogic', )
$create1-name: 'create1'
$create1-x: 262px
$create1-y: 542px
$create1-offset-x: -262px
$create1-offset-y: -542px
$create1-width: 32px
$create1-height: 45px
$create1-total-width: 793px
$create1-total-height: 737px
$create1-image: 'sprite.png'
$create1: (262px, 542px, -262px, -542px, 32px, 45px, 793px, 737px, 'sprite.png', 'create1', )
$create2-name: 'create2'
$create2-x: 571px
$create2-y: 418px
$create2-offset-x: -571px
$create2-offset-y: -418px
$create2-width: 27px
$create2-height: 54px
$create2-total-width: 793px
$create2-total-height: 737px
$create2-image: 'sprite.png'
$create2: (571px, 418px, -571px, -418px, 27px, 54px, 793px, 737px, 'sprite.png', 'create2', )
$create3-name: 'create3'
$create3-x: 304px
$create3-y: 542px
$create3-offset-x: -304px
$create3-offset-y: -542px
$create3-width: 31px
$create3-height: 43px
$create3-total-width: 793px
$create3-total-height: 737px
$create3-image: 'sprite.png'
$create3: (304px, 542px, -304px, -542px, 31px, 43px, 793px, 737px, 'sprite.png', 'create3', )
$create4-name: 'create4'
$create4-x: 546px
$create4-y: 339px
$create4-offset-x: -546px
$create4-offset-y: -339px
$create4-width: 44px
$create4-height: 43px
$create4-total-width: 793px
$create4-total-height: 737px
$create4-image: 'sprite.png'
$create4: (546px, 339px, -546px, -339px, 44px, 43px, 793px, 737px, 'sprite.png', 'create4', )
$fancyclose-name: 'fancyclose'
$fancyclose-x: 778px
$fancyclose-y: 328px
$fancyclose-offset-x: -778px
$fancyclose-offset-y: -328px
$fancyclose-width: 13px
$fancyclose-height: 13px
$fancyclose-total-width: 793px
$fancyclose-total-height: 737px
$fancyclose-image: 'sprite.png'
$fancyclose: (778px, 328px, -778px, -328px, 13px, 13px, 793px, 737px, 'sprite.png', 'fancyclose', )
$fb-name: 'fb'
$fb-x: 735px
$fb-y: 444px
$fb-offset-x: -735px
$fb-offset-y: -444px
$fb-width: 45px
$fb-height: 45px
$fb-total-width: 793px
$fb-total-height: 737px
$fb-image: 'sprite.png'
$fb: (735px, 444px, -735px, -444px, 45px, 45px, 793px, 737px, 'sprite.png', 'fb', )
$genic1-name: 'genic1'
$genic1-x: 630px
$genic1-y: 444px
$genic1-offset-x: -630px
$genic1-offset-y: -444px
$genic1-width: 95px
$genic1-height: 78px
$genic1-total-width: 793px
$genic1-total-height: 737px
$genic1-image: 'sprite.png'
$genic1: (630px, 444px, -630px, -444px, 95px, 78px, 793px, 737px, 'sprite.png', 'genic1', )
$genic2-name: 'genic2'
$genic2-x: 630px
$genic2-y: 367px
$genic2-offset-x: -630px
$genic2-offset-y: -367px
$genic2-width: 146px
$genic2-height: 67px
$genic2-total-width: 793px
$genic2-total-height: 737px
$genic2-image: 'sprite.png'
$genic2: (630px, 367px, -630px, -367px, 146px, 67px, 793px, 737px, 'sprite.png', 'genic2', )
$genic3-name: 'genic3'
$genic3-x: 0px
$genic3-y: 542px
$genic3-offset-x: 0px
$genic3-offset-y: -542px
$genic3-width: 252px
$genic3-height: 65px
$genic3-total-width: 793px
$genic3-total-height: 737px
$genic3-image: 'sprite.png'
$genic3: (0px, 542px, 0px, -542px, 252px, 65px, 793px, 737px, 'sprite.png', 'genic3', )
$house-xs-name: 'house-xs'
$house-xs-x: 0px
$house-xs-y: 418px
$house-xs-offset-x: 0px
$house-xs-offset-y: -418px
$house-xs-width: 310px
$house-xs-height: 114px
$house-xs-total-width: 793px
$house-xs-total-height: 737px
$house-xs-image: 'sprite.png'
$house-xs: (0px, 418px, 0px, -418px, 310px, 114px, 793px, 737px, 'sprite.png', 'house-xs', )
$house-name: 'house'
$house-x: 0px
$house-y: 0px
$house-offset-x: 0px
$house-offset-y: 0px
$house-width: 620px
$house-height: 227px
$house-total-width: 793px
$house-total-height: 737px
$house-image: 'sprite.png'
$house: (0px, 0px, 0px, 0px, 620px, 227px, 793px, 737px, 'sprite.png', 'house', )
$list-name: 'list'
$list-x: 630px
$list-y: 0px
$list-offset-x: -630px
$list-offset-y: 0px
$list-width: 163px
$list-height: 165px
$list-total-width: 793px
$list-total-height: 737px
$list-image: 'sprite.png'
$list: (630px, 0px, -630px, 0px, 163px, 165px, 793px, 737px, 'sprite.png', 'list', )
$meget-name: 'meget'
$meget-x: 491px
$meget-y: 339px
$meget-offset-x: -491px
$meget-offset-y: -339px
$meget-width: 45px
$meget-height: 45px
$meget-total-width: 793px
$meget-total-height: 737px
$meget-image: 'sprite.png'
$meget: (491px, 339px, -491px, -339px, 45px, 45px, 793px, 737px, 'sprite.png', 'meget', )
$s-125-xs-name: 's-125-xs'
$s-125-xs-x: 320px
$s-125-xs-y: 418px
$s-125-xs-offset-x: -320px
$s-125-xs-offset-y: -418px
$s-125-xs-width: 241px
$s-125-xs-height: 86px
$s-125-xs-total-width: 793px
$s-125-xs-total-height: 737px
$s-125-xs-image: 'sprite.png'
$s-125-xs: (320px, 418px, -320px, -418px, 241px, 86px, 793px, 737px, 'sprite.png', 's-125-xs', )
$s-125-name: 's-125'
$s-125-x: 0px
$s-125-y: 237px
$s-125-offset-x: 0px
$s-125-offset-y: -237px
$s-125-width: 481px
$s-125-height: 171px
$s-125-total-width: 793px
$s-125-total-height: 737px
$s-125-image: 'sprite.png'
$s-125: (0px, 237px, 0px, -237px, 481px, 171px, 793px, 737px, 'sprite.png', 's-125', )
$scheme-name: 'scheme'
$scheme-x: 778px
$scheme-y: 289px
$scheme-offset-x: -778px
$scheme-offset-y: -289px
$scheme-width: 10px
$scheme-height: 29px
$scheme-total-width: 793px
$scheme-total-height: 737px
$scheme-image: 'sprite.png'
$scheme: (778px, 289px, -778px, -289px, 10px, 29px, 793px, 737px, 'sprite.png', 'scheme', )
$warranty-name: 'warranty'
$warranty-x: 712px
$warranty-y: 175px
$warranty-offset-x: -712px
$warranty-offset-y: -175px
$warranty-width: 77px
$warranty-height: 104px
$warranty-total-width: 793px
$warranty-total-height: 737px
$warranty-image: 'sprite.png'
$warranty: (712px, 175px, -712px, -175px, 77px, 104px, 793px, 737px, 'sprite.png', 'warranty', )
$zoom-name: 'zoom'
$zoom-x: 712px
$zoom-y: 289px
$zoom-offset-x: -712px
$zoom-offset-y: -289px
$zoom-width: 56px
$zoom-height: 57px
$zoom-total-width: 793px
$zoom-total-height: 737px
$zoom-image: 'sprite.png'
$zoom: (712px, 289px, -712px, -289px, 56px, 57px, 793px, 737px, 'sprite.png', 'zoom', )
$zoomorange-name: 'zoomorange'
$zoomorange-x: 345px
$zoomorange-y: 542px
$zoomorange-offset-x: -345px
$zoomorange-offset-y: -542px
$zoomorange-width: 35px
$zoomorange-height: 35px
$zoomorange-total-width: 793px
$zoomorange-total-height: 737px
$zoomorange-image: 'sprite.png'
$zoomorange: (345px, 542px, -345px, -542px, 35px, 35px, 793px, 737px, 'sprite.png', 'zoomorange', )
$spritesheet-width: 793px
$spritesheet-height: 737px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($arrow, $arrow-fff, $call2, $catalogic, $create1, $create2, $create3, $create4, $fancyclose, $fb, $genic1, $genic2, $genic3, $house-xs, $house, $list, $meget, $s-125-xs, $s-125, $scheme, $warranty, $zoom, $zoomorange, )
$spritesheet: (793px, 737px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
