+comment('general style')
+font('GothamPro', 'GothamPro')
+font('GothamProBold', 'GothamProBold')
+font('GothamProLight', 'GothamProLight')
+font('GothamProMedium', 'GothamProMedium')
+font('GothamProNarrowMedium', 'GothamProNarrowMedium')
+ic
+comment("home page style")
html
  overflow-x: hidden
  height: 100%
body
  padding-right: 0 !important  
  color: #000
a,
a:hover,
a:focus
  color: inherit
  text-decoration: none
  outline: none  
.g
  &-btn
    color: #fff
    font: 400 18px/20px $os
    padding: 25px    
    background-color: $btn_color
    +br(50px)
    border: 0  
    +bs(0 -4px 0 2px #e8560c inset)
    &:hover
      background-color: $btn_color__hover
      +bs(0 -4px 0 2px #e88d0c inset)
+comment("header style")
.header
  background: url(../img/headerbg.png) no-repeat
  +cover
  padding: 20px 0 160px
.navbar
  &__logo
    height: auto
    padding: 0
  &__point
    font: 300 14px/16px $os 
    color: #fff 
    padding: 15px
    &:last-child
      a
        &:after
          content: '' 
    a
      color: inherit
      padding: 0 0 5px !important
      &:after
        content: '\f0c8'
        display: inline-block
        font-family: $fa
        font-size: 5px
        margin: -2px -15px 0 12px 
      &:hover
        +bs(0 -1px 0 0 #fff inset)
  &__call
    font: 400 14px/18px $os
    color: $btn_color
    background: none
    border: 0
    padding: 0
    &:hover
      color: $btn_color__hover
  &__right
    text-align: right    
    height: 80px
    padding: 0 15px
.phone
  position: relative
  &__click
    position: relative
    cursor: pointer
    .fa
      position: absolute
      display: inline-block
      top: 4px
      left: -25px
      color: $btn_color 
    &:hover
      .fa
        color: $btn_color__hover
    &--icon
      display: none !important 
  &__box
    display: inline-block
  &__link
    display: block  
    color: #fff
    font: 400 18px/20px $os 
    &:hover,
    &:focus
      color: #fff
    &--small
      font-size: 14px    
    &--hidden
      display: none  
    &--visibility
      display: block
.content
  padding-top: 75px
  &__heading
    color: #fff
    font: 400 40px/50px $gpb  
    text-transform: uppercase 
    margin: 0 0 35px
    &--text
      display: inline-block
      font: 400 30px/32px $gpb  
      margin-top: 15px
      text-transform: none
      &:after
        content: ''
        display: inline-block
        width: 75%
        border-bottom: 3px solid #fff
  &__list  
    padding-left: 0
    margin-bottom: 50px
    &--text
      float: left
      width: 90%
      margin: 0
      color: #fff
.list
  &__item
    list-style-type: none
    font: 400 20px/22px $os  
    margin-bottom: 15px
    &:before 
      content: '\f00c'
      font-family: $fa
      float: left
      margin-right: 10px
      color: $btn_color__hover