+comment('general style')

+cm('png icons')
+ic
@if (global-variable-exists(spritesheet-sprites))
  @each $sprite in $spritesheet-sprites
    .ic--#{nth($sprite, 10)}
      &:before
        +bs($sprite)
+svg
@if (global-variable-exists(svg-spritesheet-sprites))
  @each $sprite in $svg-spritesheet-sprites
    .svg--#{nth($sprite, 1)}
      +svgi($sprite)
+comment("home page style")
html
  overflow-x: hidden
  height: 100%
body
  padding-right: 0 !important  
  color: #000
iframe
  width: 100%
a,
button,
a:hover,
button:hover,
a:focus,
button:focus
  color: inherit
  text-decoration: none
  outline: none
.g
  &-btn
    color: #fff
    font: 400 14px/16px $font-open-sans
    padding: 21px 15px    
    background-color: $btn_color
    border-radius: 50px
    border: 0  
    box-shadow: 0 -1px 4px 3px #e8560c inset
    width: 100%
    transition: all .3s ease-out
    &:hover
      background-color: $btn_color__hover
      box-shadow: 0 -1px 4px 3px #e88d0c inset
    &__icon
      margin-right: 10px
    &--narrow
      padding: 15px    
      width: auto
      box-shadow: 0 0 15px rgba(232, 86, 12, 0.5)
      background-color: #e88d0c
  &-title
    display: inline-block
    font: 700 17px/20px $font-gotham
    color: #222
    margin: 0
  &-subtitle
    display: inline-block
    font: 400 14px/18px $font-gotham
    color: #222
    margin: 0  
.form
  &__input
    padding: 15px 40px
    height: auto    
    border-radius: 0
    font: 400 12px/14px $font-open-sans
    color: #000
    &:focus
      border-color: $btn_color
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 141, 12, 0.8)
  &__size  
    &--tablet
      padding: 0
.close
  &--fancybox
    position: absolute
    top: 5px
    right: 5px
    opacity: 1
    color: #fff
    z-index: 10
+r(768)
  .close
    &--fancybox
      top: -25px
      right: -25px
.modal
  &__size
    width: 300px
    margin: 30px auto 0
    &--wide
      max-width: 900px
      width: 90%
    &--big
      margin: 30px auto 0
      width: 300px
      .modal__close
        top: -25px
  &__content
    border-radius: 0
  &__head
    padding: 35px 30px
    background: url(../img/modalbg.jpg) no-repeat
    background-size: cover
  &__heading
    font: 700 18px/20px $font-gotham
    color: #fff
    margin-bottom: 20px
  &__subheading
    font: 400 14px/18px $font-open-sans
    color: #fff       
  &__form
    padding: 30px 50px 25px  
    background-color: $btn_color
  &__input
    border-radius: 0
    height: auto
    padding: 10px 25px  
  &__text  
    padding: 0 25px
    font: 400 10px/12px $font-open-sans
    color: #222
    margin-bottom: 15px
  &__close
    position: absolute
    top: 5px
    right: 5px
    opacity: 1
    color: #fff  
    z-index: 10
    &:hover,
    &:focus
      color: $btn_color
      opacity: 1
      text-shadow: none
.modal
  text-align: center
  &:before
    content: ''
    display: inline-block
    height: 100%
    vertical-align: middle
    margin-right: -4px

.modal-dialog
  display: inline-block
  text-align: left
  vertical-align: middle
+comment("header style")
.header
  position: relative
  z-index: 15
  background: url(../img/headerbg320.png) no-repeat
  background-size: cover
  background-position: 35% 100%
  padding: 15px 0 30px
  margin-bottom: -130px
  &--white
    background-color: #fff
.navbar
  &__logo
    height: auto
    padding: 0
    position: relative
    left: 20px  
  &__right
    text-align: right    
    height: 80px
    padding: 0 15px
    margin: 0
  &__collapse
    border: 0 
    box-shadow: none
    width: 50%
    background-color: rgba(0,0,0,0.9)
.nav
  &__point
    font: 300 14px/16px $font-open-sans 
    color: #fff 
    padding: 10px 0 0 10px
    a
      color: inherit
      padding: 0 0 5px !important
.phone
  position: relative
  display: inline-block
  .fa
    display: inline-block
    color: $btn_color     
  &__box
    display: inline-block
  &__link
    display: block 
    color: #fff
    font: 400 14px/16px $font-open-sans 
    .fa
      margin-right: 10px
      cursor: pointer
    &:hover,
    &:focus
      color: #fff
      .fa
        color: $btn_color__hover
    &--small
      font-size: 11px
  &__click
    position: relative
    cursor: pointer
    display: inline-block
    &--icon
      display: none !important        
  &__slide        
    display: none  
    &--visibility
      display: block
  &__icon
    &--hidden
      display: none !important 
  &__btn
    font: 400 14px/18px $font-open-sans
    color: $btn_color
    background: none
    border: 0
    padding: 0
    &:hover
      color: $btn_color__hover
.content
  &__heading
    color: #fff
    font: 700 18px/24px $font-gotham
    text-transform: uppercase 
    margin: 0 0 5px
    &--text
      display: inline-block 
      font: 700 16px/18px $font-gotham
      color: #fff
      text-transform: none
      margin-bottom: 20px
      &:after
        content: ''
        display: inline-block
        width: 75%
        border-bottom: 3px solid #fff
  &__list  
    padding-left: 0
    margin-bottom: 50px
  &__text
    float: left
    width: 90%
    margin: 0
    color: #fff
  &__btn
    padding: 15px   
    width: auto 
.list
  &__item
    list-style-type: none
    font: 400 16px/20px $font-open-sans  
    margin-bottom: 5px
    &:before 
      content: '\f00c'
      font-family: $fa
      float: left
      margin-right: 10px
      color: $btn_color__hover  
.icon__bar
  background-color: #fff
  width: 36px !important
  height: 5px !important
  border-radius: 10px      
+comment("about style")
.about
  position: relative
  z-index: 14
  margin-bottom: -130px
  padding: 165px 0 30px
  background: url(../img/aboutbg.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  &__title
    margin-bottom: 30px
  &__list
    padding-left: 0  
  &__point
    list-style-type: none
    margin-bottom: 20px
    &:before
      content: '\f0a3'
      font-family: $fa
      margin-right: 15px
      font-size: 20px
      color: $btn_color__hover
.point
  &__name
    display: inline-block    
    font: 400 16px/18px $font-open-sans
    color: #222  
    margin-bottom: 10px
  &__info
    font: 400 14px/16px $font-open-sans 
    color: #222
+comment("address style") 
.address
  padding: 160px 0 100px
  position: relative
  z-index: 13
  margin-bottom: -130px
  background: url(../img/addressbg.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  &__box
    padding: 20px 0
    text-align: center    
  &__btn  
    &:hover
      .address__img
        &--static
          display: none
        &--hover 
          display: block 
  &__img
    &--hover
      display: none           
  &__border
    margin-top: 30px
    padding: 10px 0
    border: 2px dashed $btn_color__hover
    border-radius: 10px
  &__text
    display: inline-block
    font: 400 14px/18px $font-open-sans
    padding-top: 20px
    color: #222  
  &__location
    margin-bottom: 10px  
.location
  &__info
    font: 400 14px/16px $font-open-sans
    color: #222
    margin-bottom: 10px
  &__place  
    font: 600 16px/18px $font-open-sans  
    color: #222
    .fa
      margin-right: 10px  
      color: $btn_color__hover
+comment("register style")   
.register
  position: relative
  z-index: 12
  padding: 160px 0 60px
  margin-bottom: -110px
  background: url(../img/registerbg.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  &__title
    margin-bottom: 70px
    color: #fff    
+comment("project style")   
.project
  position: relative
  z-index: 11
  margin-bottom: -130px
  padding: 170px 0 100px
  background: url(../img/projectbg.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  &__title
    margin-bottom: 50px
  &__heading
    font: 400 14px/18px $font-open-sans
    color: #222
    margin: 20px 0 20px
  &__subheading
    font: 400 12px/14px $font-open-sans
    color: #222
    margin-bottom: 30px   
  &__contact  
    position: relative
    font: 400 14px/18px $font-open-sans
    color: #222
    text-align: center
    margin-bottom: 20px
    .ic
      position: absolute
      right: 115px
    &--text
      background-color: #fceeb3
      line-height: 1.6
  &__btn
    padding: 20px 8px    
  &__slider
    text-align: center
    img
      display: inline-block
    &--small
      cursor: pointer
      .slick
        &-slide
          text-align: center
          padding: 10px 5px 0
          img
            display: inline-block   
        &-arrow
          height: auto
          width: auto
          z-index: 20
          font-size: 50px
          color: #000
          &:hover
            color: $btn_color
          &:before
            content: ''    

+comment("section new style")
.new
  margin-bottom: -130px
  padding: 130px 0 80px
  background: url(../img/new.png) no-repeat
  background-position: 50% 100%
  background-size: cover
  &__title
    display: block
    margin-bottom: 25px
    text-align: center
  &__subtitle
    display: block
    text-align: center
  &__items
    margin: 20px 0
.nw-item
  position: relative
  margin: 15px 0
  height: 225px
  width: 100%
  overflow: hidden
  color: #fff
  z-index: 25
  &--md
    height: 250px
    max-width: 340px
    margin:
      left: auto
      right: auto
  &__box
    display: inline-block
    width: 100%
    height: 100%
    padding: 20px
    background-repeat: no-repeat
    background-size: cover
    transition: color .3s ease-out
    &:before
      content: ''
      +coverdiv
    &:hover,
    &:active
      color: #e88d0c
      &:before
        color: currentColor
      .nw-item__hover
        visibility: visible
        opacity: 1
    &--dark-bg
      &:before
        content: ''
        +coverdiv
        background-image: repeating-linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.14) 0%,rgba(0, 0, 0, 0.16) 48.2%,rgba(0, 0, 0, 0.83) 100%)
      &:hover,
      &:active
        &:before
          background-image: repeating-linear-gradient(to bottom,rgba(0, 0, 0, 0.16) 0%,rgba(0, 0, 0, 0.16) 0%)
    &--yellow-bg
     .nw-item__hover
       background: rgba(226, 140, 35, 0.5)
    &--new-1
      background-image: url(../img/new1.jpg)
    &--new-2
      background-image: url(../img/new2.jpg)
    &--projects-1
      background-image: url(../img/projects-1.jpg)
      &:hover
        background-image: url(../img/projects-1-hover.jpg)
    &--projects-2
      background-image: url(../img/projects-2.jpg)
      &:hover
        background-image: url(../img/projects-2-hover.jpg)
    &--projects-3
      background-image: url(../img/projects-3.jpg)
      &:hover
        background-image: url(../img/projects-3-hover.jpg)
    &--projects-4
      background-image: url(../img/projects-4.jpg)
      &:hover
        background-image: url(../img/projects-4-hover.jpg)
    &--projects-5
      background-image: url(../img/projects-5.jpg)
      &:hover
        background-image: url(../img/projects-5-hover.jpg)
    &--projects-6
      background-image: url(../img/projects-6.jpg)
      &:hover
        background-image: url(../img/projects-6-hover.jpg)
    &--projects-7
      background-image: url(../img/projects-7.jpg)
      &:hover
        background-image: url(../img/projects-7-hover.jpg)
    &--projects-8
      background-image: url(../img/projects-8.jpg)
      &:hover
        background-image: url(../img/projects-8-hover.jpg)
    &--projects-9
      background-image: url(../img/projects-9.jpg)
      &:hover
        background-image: url(../img/projects-9-hover.jpg)
    &--projects-10
      background-image: url(../img/projects-10.jpg)
      &:hover
        background-image: url(../img/projects-10-hover.jpg)
    &--projects-11
      background-image: url(../img/projects-11.jpg)
      &:hover
        background-image: url(../img/projects-11-hover.jpg)
    &--projects-12
      background-image: url(../img/projects-12.jpg)
      &:hover
        background-image: url(../img/projects-12-hover.jpg)
  &__content
    margin-top: 160px
    &--fluid
      position: absolute
      left: 0
      right: 0
      bottom: 10px
  &__name
    position: relative
    font: 700 14px/16px $font-open-sans
    z-index: 4
  &__value
    position: relative
    font: 400 14px/16px $font-open-sans
    z-index: 4
  &__hover
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    visibility: hidden
    opacity: 0
    background: rgba(0, 0, 0, .5)
    transition: background, opacity .3s ease-out
    z-index: 1
  &__icon
    &--left,
    &--right
      position: absolute
      top: 0
      height: 100%
      width: 25px
      &:before,
      &:after
        content: ''
        position: absolute
        display: block
        width: 25px
        height: 25px
        border: 1px solid currentColor
      &:before
        top: 10px
      &:after
        bottom: 10px
    &--left
      left: 10px
      &:before
        border:
          right: none
          bottom: none
      &:after
        border:
          top: none
          right: none
    &--right
      right: 10px
      &:before
        border:
          left: none
          bottom: none
      &:after
        border:
          top: none
          left: none
  &__content-hover
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    font: 700 14px/16px $font-open-sans
    color: #fff
    text-transform: uppercase

.n-label
  display: block
  width: 100%
  margin: 2px 0 3px
  &__text
    display: inline-block
    padding: 10px 13px
    min-width: 155px
    background-color: #e88d0c
    border-radius: 0
    font: 900 14px/16px $font-gotham
    color: #fff
    text-transform: uppercase
  &--left
    float: left
  &--right
    float: left
.arrow-group
  display: block
  width: 40px !important
  height: 40px !important
  border-radius: 50%
  top: 50% !important
  transform: translateY(-50%)
  font-size: 20px !important
  background-color: #e88d0c
  color: #fff !important
  transition: all .3s ease-out
  &:hover,
  &:focus
    background-color: #e88d0c
    opacity: .8
  &.slick-disabled
    background: #fff
    color: #000  !important
    &:hover,
    &:focus
      opacity: 1
+r(768)
  .new
    padding: 150px 0
    &__items
      margin: 60px 0
  .nw-item
    max-width: none
    height: 325px
    &--md
      height: 220px
    &__box
      padding: 30px
    &__content
      margin-top: 235px
    &__name
      font-size: 18px
      line-height: 20px
    &__value
      font-size: 18px
      line-height: 20px
    &__icon
      &--left,
      &--right
        width: 35px
        &:before,
        &:after
          width: 35px
          height: 35px
          border-width: 2px
        &:before
          top: 15px
        &:after
          bottom: 15px
      &--left
        left: 15px
      &--right
        right: 15px
    &__content-hover
      font-size: 18px
      line-height: 20px
+r(992)
  .nw-item
    height: 400px
    &--md
      height: 340px
    &__box
      padding: 60px
    &__content
      margin-top: 255px
    &__name
      font-size: 24px
      line-height: 26px
    &__value
      font-size: 24px
      line-height: 26px
    &__icon
      &--left,
      &--right
        width: 50px
        &:before,
        &:after
          width: 50px
          height: 50px
          border-width: 3px
        &:before
          top: 20px
        &:after
          bottom: 20px
      &--left
        left: 20px
      &--right
        right: 20px
    &__content-hover
      font-size: 24px
      line-height: 26px
+r(1200)
  .nw-item
    &__content
      bottom: 25px
  .n-label
    width: auto
    text-align: center
    &--right
      float: right
+comment("catalog style")
.catalog
  position: relative
  z-index: 10
  margin-top: 50px
  margin-bottom: -130px
  padding: 60px 0 100px 
  background: url(../img/catalogbg.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  &__title
    margin-bottom: 30px
  &__subtitle
    margin-bottom: 70px  
  &__box 
    margin-bottom: 30px  
  &__img
    position: relative
    display: block
    overflow: hidden
    height: 100%
    width: 100%
    &:hover
      .catalog__link
        opacity: 1
        visibility: visible
        transition: all .3s ease-out
        &--small
          color: $btn_color__hover
          transition: all .3s ease-out
  &__image
    &--sky
      min-height: 200px
      background: #88d1e7 url(../img/sky.jpg) no-repeat scroll 50% 50%
      background-size: cover
  &__photo
    max-height: 300px
    overflow: hidden
  &__show
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%  
    background-color: rgba(232,141,12,0.7)  
    text-align: center
    padding: 60px 0 0
    font: 400 18px/20px $font-open-sans 
  &__link
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,0.5)
    opacity: 0
    visibility: hidden
    transition: all .3s ease-out
    text-align: center
    color: #fff
    font: 400 16px/20px $font-gotham
    line-height: 110px
    &--small
      position: absolute
      left: 15px
      bottom: 15px
      color: #fff
      font: 400 18px/20px $font-gotham
  &__info
    text-align: left
  &__name
    font: 400 20px/22px $font-open-sans
    text-transform: uppercase
    margin-bottom: 10px
    color: #000
  &__about
    font: 400 18px/20px $font-open-sans
    color: #858686 
    margin-bottom: 30px
  &__btn
    border: 1px solid #858686
    border-radius: 25px
    padding: 5px 20px
    background: transparent
    color: #858686
    cursor: pointer
    transition: all .3s ease-out
    &:hover
      background-color: $btn_color
      border-color: $btn_color
      color: #fff
      transition: all .3s ease-out
  &__slider
    .slick
      &-arrow
        height: auto
        width: auto
        z-index: 20
        font-size: 50px
        color: #000
        top: 15%
        &:before
          content: ''
      &-prev
        left: 15px
      &-next
        right: 15px      
  &__caption
    background-color: $btn_color
    text-align: center  
    padding: 60px 10px 45px
    &--heading
      color: #fff
      font: 700 24px/36px $font-gotham
      margin-bottom: 5px
    &--subheading
      color: #fff
      font: 400 12px/18px $font-gotham
      margin-bottom: 25px
  &__button
    display: block
    font: 400 12px/14px $font-open-sans 
    padding: 20px 10px 
    color: #fff
    background-color: #e8560c
  &__modal
    text-align: center  
    position: relative
  &__image
    background-color: #fff
    img
      display: inline-block   
  &__description
    padding: 10px 30px
  &-description
    background-color: #fff     
    text-align: left
    color: #222
    &__name
      font: 700 18px/20px $font-gotham
      margin-bottom: 10px
    &__label
      padding: 5px 10px
      float: right
      border-radius: 20px
      background-color: #e88d0c
      font: 700 12px/10px $font-open-sans
      color: #fff
    &__text  
      font: 400 12px/14px $font-gotham
      margin-bottom: 10px
      &--span
        font-weight: 400
  &__input
    color: #a3a3a3 
    font: 400 12px/16px $font-gotham
    border-radius: 0 
    text-align: center
    height: auto 
    padding: 10px
.catalog-image
  &__icon
    &--1
      position: absolute
      left: 50%
      top: 30px
      transform: translateX(-50%)
      z-index: 2
    &--2
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: -25px
      z-index: 2
+r(768)
  .catalog
    margin-top: 0
    padding: 140px 0 100px
    &__description
      padding: 40px 55px 70px 
    &-description
      &__label
        padding: 9px 14px
        font-size: 16px
        line-height: 18px
    &__input
      &--up
        width: 44%
        padding-right: 18px
        line-height: 23px
  .catalog-image
    &__icon
      &--1
        left: -85px
        top: 50%
        transform: translateY(-50%) scale(.8)
      &--2
        bottom: -72px
        left: -200px
        transform: scale(.8)

+r(992)
  .catalog
    &__description
      padding: 35px 55px 20px
  .catalog-image
    &__icon
      &--1
        left: -50px
        top: 40%
        transform: translateY(-50%) scale(1)
      &--2
        left: -160px
        bottom: -50px
        transform: scale(1)
+r(1200)
  .catalog
    &__input
      &--up
        width: 46%
.caption
  &__name
    color: #fff
    font: 400 18px/20px $font-gotham
    padding: 0 10px
    margin-bottom: 15px    
.fancybox
  &-inner
    overflow: visible !important  
.gallery
  &__item
    width: 100%
    margin-bottom: 20px
    &--1     
      height: 115px
      background: url(../img/catalog1.jpg) no-repeat
      background-size: cover
      .catalog__link
        line-height: 250px
    &--2
      height: 115px
      background: url(../img/catalog2.jpg) no-repeat
      background-size: cover
    &--3
      height: 115px
      background: url(../img/catalog3.jpg) no-repeat
      background-size: cover
    &--4
      height: 115px
      background: url(../img/catalog4.jpg) no-repeat
      background-size: cover
    &--5
      height: 115px
      background: url(../img/catalog5.jpg) no-repeat
      background-size: cover
    &--6
      height: 115px
      background: url(../img/catalog6.jpg) no-repeat
      background-size: cover
    &--7
      height: 115px
      background: url(../img/catalog7.jpg) no-repeat
      background-size: cover
    &--8
      height: 115px
      background: url(../img/catalog8.jpg) no-repeat
      background-size: cover
    &--9
      height: 115px
      background: url(../img/catalog9.jpg) no-repeat
      background-size: cover
    &--10
      height: 115px
      background: url(../img/catalog10.jpg) no-repeat
      background-size: cover
    &--11 
      height: 115px
      background: url(../img/catalog11.jpg) no-repeat
      background-size: cover  
    &--12
      height: 115px
      background: url(../img/catalog12.jpg) no-repeat
      background-size: cover
+comment("scheme style")  
.scheme    
  position: relative
  z-index: 9
  padding: 180px 0 50px
  margin-bottom: -100px
  background: url(../img/schemebg.jpg) no-repeat
  background-size: cover
  background-position: 50% 100%
  .row
    position: relative
  &__title
    padding: 12px 40px
    background-color: #fceeb3 
  &__text   
    display: inline-block
    font: 400 18px/22px $font-open-sans
    color: #222
  &__border
    margin-top: 50px
    padding: 15px 20px
    background-color: rgba(255,255,255,0.85) 
    border: 2px dashed $btn_color__hover
    border-radius: 10px
  &__box
    padding: 30px 25px 0
    margin-bottom: 20px
  &__btn
    display: inline-block
    position: relative
    line-height: 42px
    &--active
      .scheme__info
        visibility: visible
        opacity: 1
        transition: all .5s ease-out
      .scheme__icon
        display: none
        &--hover
          display: inline-block
          vertical-align: middle
    &--3
      .ic
        right: -20px
        bottom: -20px  
        left: auto
        top: auto
    &--4
      .ic
        right: -20px
        left: auto
  &__icon
    position: absolute
    left: -20px
    top: -20px  
    background-color: #fff
    border-radius: 25px
    border: 5px solid $btn_color
    height: 50px
    width: 50px
    cursor: pointer
    z-index: 15
    text-align: center
    &--hover
      display: none
  &__info
    padding: 15px 25px
    font: 400 14px/22px $font-open-sans
    color: #222
    background-color: #fff
    border-radius: 25px
    border: 5px solid $btn_color  
    z-index: 10
+comment("create style")
.create
  position: relative
  z-index: 8
  padding: 150px 0 30px
  margin-bottom: -130px
  background: url(../img/createbg.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  &__title
    margin-bottom: 80px
    color: #fff
  &__col
    &--color
      background-color: #fff  
    &--incolor
      background-color: $btn_color
      .create__box
        color: #fff
  &__row
    margin-bottom: 35px      
  &__box
    position: relative
    padding: 25px 15px
    text-align: right
    .ic
      float: left 
    &--textpos
      text-align: left        
      .ic
        float: right
  &__name
    font: 400 16px/50px $font-open-sans  
    margin-bottom: 10px
  &__info
    font: 400 14px/18px $font-open-sans  
  &__caret
    content: ''
    position: absolute
    top: 100%
    border: 20px solid transparent
    border-top: 30px solid #fff
    left: 50%
    margin-left: -20px
    z-index: 25
    &--color
      border-top: 30px solid $btn_color
+comment("plan style")
.plan
  position: relative
  z-index: 7
  margin-bottom: -130px
  background: url(../img/planbg.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  padding: 180px 0 50px
  &__title
    margin-bottom: 35px
  &__col
    padding: 25px
  &__box
    margin-bottom: 15px
    text-align: center  
  &__info
    font: 400 14px/16px $font-open-sans
    color: #222
    margin-bottom: 10px
  &__place
    font: 600 16px/18px $font-open-sans  
    color: #222
    .fa
      margin-right: 10px  
      color: $btn_color__hover
.plan-item
  margin: 20px 0
+comment("advice style")  
.advice    
  position: relative
  z-index: 6
  margin-bottom: -130px
  background: url(../img/advicebg.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  padding: 170px 0 40px
  &__title
    margin-bottom: 20px
  &__subtitle
    margin-bottom: 50px
  &__list
    text-align: left  
    padding: 0
    margin-bottom: 50px
  &__point    
    list-style-type: none
    &:before
      content: '\f0a3'
      font-family: $fa
      margin-right: 15px
      font-size: 20px
      color: $btn_color__hover
      float: left
  &__name
    font: 400 14px/18px $font-open-sans
    color: #222    
  &__btn
    width: auto  
+comment("process style")   
.process
  position: relative
  z-index: 5 
  margin-bottom: -315px
  background: url(../img/processbg.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  padding: 200px 0 100px
  &__col
    box-shadow: 0 0 0 2px #fff inset
    transition: box-shadow .3s ease-out
    &:hover
      box-shadow: 0 0 0 5px $btn_color inset
      .process__line
        width: 60%
        transition: all .3s ease-out
    &--1  
      background: url(../img/process1.jpg) no-repeat
      background-size: cover
    &--2 
      background: url(../img/process2.jpg) no-repeat
      background-size: cover
    &--3 
      background: url(../img/process3.jpg) no-repeat
      background-size: cover
    &--4 
      background: url(../img/process4.jpg) no-repeat 
      background-size: cover
  &__box
    padding: 45px 5px
    color: #fff
    font: 400 16px/18px $font-open-sans
    text-align: center
  &__line
    display: block
    margin: 25px auto 0
    height: 5px
    width: 0
    background-color: $btn_color
    transition: all .3s ease-out
+comment("map style")     
.map 
  position: relative
  z-index: 10
  &__box
    background-color: #fff
    margin: 0
    padding: 25px 10px
  &__contact
    padding: 15px 10px
    background-color: #f6f9f9
    margin-bottom: 10px
  &__iframe
    height: 320px  
  &__heading
    font: 600 16px/18px $font-open-sans
    color: #222
    margin-bottom: 25px
  &__subheading
    font: 400 14px/16px $font-open-sans
    color: #222
    margin-bottom: 20px
    &--small
      font: 400 10px/12px $font-open-sans
      color: #222 
      margin-bottom: 15px 
  &__btn
    padding: 10px 15px    
  &__group
    padding: 0
    input
      background-color: #f6f9f9
      &:focus
        border-color: $btn_color
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(232, 141, 12, 0.8)
.contact
  &__info
    margin-bottom: 10px
    .fa
      float: left
      color: $btn_color__hover
      margin-right: 10px
      line-height: 20px
  &__text
    float: right
    width: 85%
    text-align: left
  &__link
    display: block
+comment("footer style") 
.footer
  position: relative
  z-index: 8
  background: url(../img/footerbg.png) no-repeat
  background-size: cover
  padding: 180px 0 30px
  margin-top: -150px
  &__copy
    padding-top: 25px
    color: #fff
+comment("thanks page style")     
.thanks
  background: url(../img/headerbg320.png) no-repeat
  background-size: cover
  background-position: 50% 100%
  padding: 15px 0 200px
  height: 100vh
  &__navbar
    padding-top: 12px
  &__box
    text-align: center  
  &__btn
    padding: 21px 45px  
    color: #fff
    &:hover,
    &:focus,
    &:visited
      color: #fff
    .fa
      margin-right: 15px
      color: #fff
  &__heading    
    position: relative
    display: inline-block
    margin-bottom: 25px !important
    &:before
      content: '\f00c'
      color: $btn_color
      font-family: $fa
      font-size: 26px
      line-height: 32px
      position: absolute
      top: 5px
      left: -60px
      border: 5px solid $btn_color
      border-radius: 50%
      height: 40px
      width: 40px
    &:after
      content: ''
      display: inline-block
      width: 65%
      border-bottom: 3px solid #fff
  &__item
    &:before
      content: ''  
.notify
  padding: 15px 0
  font: 400 10px/15px $font-open-sans
  color: #fff
+comment("inside pages global style")
body
  position: relative
  min-height: 100vh
.nav--in
  height: auto  
.headerIn
  padding: 20px 0
  &__title
    padding: 50px 0
    background-position: center
    background: url(../img/topbg.jpg) no-repeat
    background-size: cover
    &--text
      color: #fff
      font: 900 32px/40px $font-gotham
      text-transform: uppercase
      margin: 0
.navbar
  &--in
    margin-bottom: 10px
  &__collapse
    width: 100%    
    margin: 0 !important
.icon
  &__bar
    &--dark
      background-color: #212121    
.phone
  &__link
    &--dark
      color: #212121
      transition: all .3s ease 
      &:hover,
      &:focus
        color: #e88d0c  
.contento
  padding: 30px 0 200px
  &__text
    font: 400 18px/27px $font-open-sans  
    margin-bottom: 30px      
+r(768)        
  .headerIn
    &__title
      &--text
        font: 900 40px/50px $font-gotham   
+r(992)
  .nav
    &__point  
      &--dark
        color: #212121
        a
          transition: all .3s ease
          &:hover,
          &:focus
            color: #e88d0c
            box-shadow: 0 -1px 0 0 #e88d0c inset !important
.footerIn
  position: absolute
  width: 100%
  bottom: 0       
  background: url(../img/footerbglight.png) no-repeat
  background-size: cover     
.footer
  background-position: center
  &__copy
    &--dark
      color: #212121 
+comment("gallery page style")
.fancybox-item
  width: auto 
  height: 25px
  &:hover,
  &:focus
    &:before
      color: #e88d0c
  &:before
    content: "\f00d"
    font-family: "FontAwesome"
    font-size: 24px
    line-height: 24px
    color: #fff

.gallery
  &__column
    transition: all .3s ease
    &--hidden
      visibility: visible
      opacity: 0
      display: none
.contento--gallery
  background: url(../img/gallerycontentobg.png) no-repeat
  background-size: cover 
.contento  
  &__show
    position: relative
    z-index: 25              
.nw-item--gallery
  margin: 0 0 30px
  height: 264px
.nw-item__box--gallery
  padding: 0  
  &1
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover
  &2
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover
  &3
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover
  &4
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover 
  &5
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover  
  &6
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover  
  &7
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover  
  &8
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover  
  &9
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover  
  &10
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover  
  &11
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover  
  &12
    background: url(../img/gallery1.jpg) no-repeat
    background-size: cover                       
.ic-zoomorange
  position: absolute
  left: 50%
  top: 50%
  margin: -18px 0 0 -18px    
+comment("faq page style")
.contento--faq
  background: url(../img/faqcontentobg.png) no-repeat
  background-size: cover 
.panel
  box-shadow: none
  background: transparent
  margin-bottom: 30px !important
  &-group
    position: relative
    z-index: 25
  &__heading
    padding: 12px 25px
    border: 0 !important
    border-radius: 35px
    background-color: #f9f9f9 !important
    box-shadow: 1.5px 4.8px 20px rgba(0, 0, 0, 0.1) !important
  &__body
    border: 0 !important  
  &__link
    position: relative
    display: block
    color: #222
    font: 600 18px/24px $font-open-sans  
    padding-right: 30px
  &__text  
    color: #222
    font: 400 16px/24px $font-open-sans 
    padding-left: 10px
  &__icon
    position: absolute
    right: 0
    top: 50%
    margin-top: -15px
    display: inline-block
    height: 30px
    width: 30px 
    border: 2px solid #e88d0c
    border-radius: 50%
    background: transparent
  &__ic
    position: relative
    top: 5px
    left: 5px
    width: 16px
    height: 16px
    &:before,
    &:after
      content: ""
      position: absolute
      background-color: #e88d0c
      transition: transform 0.25s ease-out
    /* Vertical line */
    &:before
      top: 0
      left: 50%
      width: 2px
      height: 100%
      margin-left: -1px
    /* horizontal line */
    &:after
      top: 50%
      left: 0
      width: 100%
      height: 2px
      margin-top: -2px
    &.minus
      cursor: pointer
      &:before 
        transform: rotate(90deg)
      &:after 
        transform: rotate(180deg)
+r(768)
  .panel
    &__heading
      padding: 20px 50px  
    &__link    
      font: 600 22px/26px $font-open-sans      
      padding-right: 0
    &__text
      font: 400 18px/27px $font-open-sans 
      padding-left: 35px
+comment("map page style")      
.map
  &__border
    position: relative
    z-index: 25
.contento--map
  background: url(../img/mapcontentobg.png) no-repeat
  background-size: cover    
+r(768)
  .map
    &__border
      margin-top: 160px
    &__pos
      position: absolute
      top: -220px
      left: 0
+r(992)  
  .map
    &__boxe
      padding: 60px 0 0 50px !important
    &__border
      margin-top: 100px
    &__pos
      top: -200px
      left: -100px    
+r(1200)
  .map
    &__boxe
      padding: 120px 0 0 85px !important
+comment("contact page style")        
.contento--contact
  background: url(../img/contactcontentobg.png) no-repeat
  background-size: cover 
.contact
  &__map-box
    padding: 35px 
    background-color: white
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2)
    margin: 0 !important
  &__box
    position: relative
    text-align: center
    margin-bottom: 10px
    .fa
      color: #e8560c  
      font-size: 20px
      &.fa-phone
        position: relative
        top: 5px
        vertical-align: top
  &__texto
    display: inline-block    
    font: 400 17px/27px $font-open-sans  
    color: #222
  &__linke 
    display: block   
    font: 400 18px/27px $font-open-sans  
    color: #222
    text-align: center
  &__texte
    display: inline-block  
  &__social
    padding-top: 15px
    text-align: center
    &--link
      margin-right: 10px  
      display: inline-block
.map
  &__contacte
    margin-bottom: 0
  &__heading
    &--big
      font: 600 18px/18px $font-open-sans   
  &__subheading
    &--big 
      font: 400 16px/18px $font-open-sans  
#contactmap
  height: 300px
  width: 100%     
  position: relative
  z-index: 25         
+r(768)
  .contacte__icon
    position: absolute
    left: -5px   
    top: 3px 
  .contento--contact
    padding-bottom: 260px
  #contactmap
    height: 274px
  .contact
    &__box
      text-align: left    
      .fa-phone
        display: table-cell
        padding-right: 10px
    &__texte
      display: table-cell  
    &__texto
      padding-left: 20px  
    &__social
      position: relative
      top: -15px
  .map
    &__heading
      &--big
        font: 600 20px/24px $font-open-sans       
+r(992)    
  .contacte__icon
    left: -5px     
  .contact
    &__texto
      font: 400 18px/27px $font-open-sans 
    &__social
      padding-top: 15px
      &--link
        margin-bottom: 10px  
    &__map-box
      padding: 50px 35px 
  .map
    &__heading
      &--big
        font: 600 23px/28px $font-open-sans          
+r(1200)
  .contacte__icon
    left: -30px   
  .contact
    &__texto
      padding-left: 0  
  #contactmap
    height: 312px
  .map
    &__contacte
      padding: 15px 40px
  .contact      
    &__texte
      display: inline-block
    &__box
      .fa-phone
        display: inline-block    
        padding-right: 0
    &__social
      padding-top: 35px
      &--link
        margin-bottom: 0    
+comment("plan page style")     
.tooltip
  &__content
    display: none 
  &__box
    color: #222 
    font: 400 12px/18px $font-open-sans  
  &__name
    a
      color: #463dff
      text-decoration: underline   
.modal__head--plan    
  background: url(../img/planmodalbg.jpg) no-repeat
  background-size: cover  
.genplan
  &__group
    position: relative
    z-index: 25      
    padding-top: 100px
  &__btn
    display: block
    text-align: center   
  &__box
    margin-bottom: 40px  
    text-align: center
    .ic-genic3
      position: relative
      top: 3px
.contento--plan
  background: url(../img/plancontentobg.png) no-repeat
  background-size: cover       
.plan
  &__box
    &--margin
      margin: 12px 0
  &__image
    display: inline-block
  &__img-box
    position: relative
    display: inline-block
    margin-bottom: 30px
  &__hover
    position: absolute
    display: block
    height: 6vw
    width: 6vw 
    background: transparent
    cursor: pointer
    &--1
      top: 8.2%
      left: 9.4vw
    &--2
      top: 8.2%
      left: 18.6%
      width: 5.6vw
    &--3
      top: 8.2%
      left: 26%
      width: 5.6vw
    &--4
      top: 8.2%
      left: 33%
      width: 5.6vw
    &--5
      top: 8.2%
      left: 40%
      width: 5.6vw
    &--6
      top: 8.2%
      left: 47%
      width: 5.6vw
    &--7
      top: 8.2%
      left: 53.5%
      width: 5.6vw
    &--8
      top: 8.2%
      left: 60.1%
      width: 5.6vw
    &--9
      top: 8.2%
      left: 67.3%
      width: 5.6vw
    &--10
      top: 8.2%
      left: 74%
      width: 5.6vw     
    &--11
      top: 18.7%
      left: 14.2%
      width: 5.6vw
    &--12
      top: 18.7%
      left: 21%
      width: 5.6vw
    &--13
      top: 18.7%
      left: 28%
      width: 5.6vw
    &--14
      top: 18.7%
      left: 34%
      width: 5.6vw
    &--15
      top: 18.7%
      left: 41%
      width: 5.6vw
    &--16
      top: 18.7%
      left: 47.5%
      width: 5.6vw
    &--17
      top: 18.7%
      left: 54%
      width: 5.6vw
    &--18
      top: 18.7%
      left: 60.7%
      width: 5.6vw
    &--19
      top: 18.7%
      left: 67.4%
      width: 5.6vw
    &--20
      top: 18.7%
      left: 74%
      width: 5.6vw    
    &--21
      top: 26%
      left: 74%
      width: 5.6vw 
    &--22
      top: 26%
      left: 67.5%
      width: 5.6vw 
    &--23
      top: 26%
      left: 60.7%
      width: 5.6vw 
    &--24
      top: 26%
      left: 54%
      width: 5.6vw 
    &--25
      top: 26%
      left: 47.4%
      width: 5.6vw 
    &--26
      top: 26%
      left: 41.4%
      width: 5.6vw 
    &--27
      top: 26%
      left: 34.5%
      width: 5.6vw 
    &--28
      top: 26%
      left: 27.5%
      width: 5.6vw 
    &--29
      top: 26%
      left: 21.1%
      width: 5.6vw     
    &--30
      top: 0
      left: 0
      width: 0
      height: 0   
    &--31
      top: 36.6%
      left: 14.5%
      width: 5.6vw  
      height: 4vw 
    &--32
      top: 36.6%
      left: 21.1%
      width: 5.6vw 
    &--33
      top: 36.6%
      left: 27.7%
      width: 5.6vw 
    &--34
      top: 36.6%
      left: 34.5%
      width: 5.6vw 
    &--35
      top: 36.6%
      left: 41.2%
      width: 5.6vw 
    &--36
      top: 36.6%
      left: 47.6%
      width: 5.6vw 
    &--37
      top: 36.6%
      left: 54.3%
      width: 5.6vw 
    &--38
      top: 36.6%
      left: 61%
      width: 5.6vw 
    &--39
      top: 36.6%
      left: 67.6%
      width: 5.6vw 
    &--40
      top: 36.6%
      left: 74.1%
      width: 5.6vw   
    &--41
      top: 44%
      left: 72.2%
      width: 5vw 
    &--42
      top: 44%
      left: 65.8%
      width: 5.6vw 
    &--43
      top: 44%
      left: 59.2%
      width: 5.6vw                                               
    &--44
      top: 44%
      left: 52.5%
      width: 5.6vw 
    &--45
      top: 44%
      left: 45.9%
      width: 5.6vw 
    &--46
      top: 44%
      left: 39.4%
      width: 5.6vw 
    &--47
      top: 44%
      left: 32.6%
      width: 5.6vw 
    &--48
      top: 44%
      left: 25.9%
      width: 5.6vw 
    &--49
      top: 44%
      left: 19.3%
      width: 5.6vw   
    &--50
      top: 46.8%
      left: 13.6%
      width: 5.1vw
      height: 4.2vw
    &--51
      top: 54%
      left: 39.1%
      width: 5.6vw
    &--52
      top: 54%
      left: 45.7%
      width: 5.6vw
    &--53
      top: 54%
      left: 52.2%
      width: 5.6vw
    &--54
      top: 54%
      left: 59%
      width: 5.6vw
    &--55
      top: 54%
      left: 65.3%
      width: 5.6vw   
    &--56
      top: 61.4%
      left: 62.3%
      width: 7vw 
    &--57
      top: 61.4%
      left: 54.6%
      width: 5.6vw 
    &--58
      top: 61.4%
      left: 47%
      width: 5.6vw 
    &--59
      top: 61.4%
      left: 39.6%
      width: 5.6vw 
    &--60
      top: 12%
      left: 83%
      width: 6.2vw      
    &--61
      top: 19.1%
      left: 83%
      width: 6.2vw    
    &--62
      top: 26%
      left: 83.1%
      width: 6.2vw   
    &--63
      top: 33%
      left: 83.1%
      width: 6.2vw  
    &--64
      top: 40%
      left: 83.1%
      width: 6.2vw        
      height: 7vw    
    &--65
      top: 49%
      left: 79.6%
      width: 9.2vw
      height: 7vw
      transform: rotate(32deg)    
    &--66
      top: 55.8%
      left: 75% 
      width: 9.2vw
      height: 7vw
      transform: rotate(32deg)  
    &--67
      top: 63.8%
      left: 73%
      width: 6.8vw
      height: 7vw
      transform: rotate(8deg)   
    &--68
      top: 71.8%
      left: 71.6%
      width: 6.8vw
      height: 9vw
      transform: rotate(8deg) 
    &--69
      top: 81.8%
      left: 68.2%
      width: 8.8vw
      height: 6vw
      transform: rotate(6deg) 
    &--70
      top: 76.9%
      left: 62.2%
      width: 5vw
      height: 9.5vw
      transform: rotate(8deg) 
    &--71
      top: 76%
      left: 56%
      width: 5vw
      height: 9.5vw
      transform: rotate(8deg)
    &--72
      top: 75.1%
      left: 49.8%
      width: 5vw
      height: 9.5vw
      transform: rotate(8deg)
    &--73
      top: 74.1%
      left: 43.3%
      width: 5.3vw
      height: 9.5vw
      transform: rotate(8deg)
    &--74
      top: 73.2%
      left: 36.3%
      width: 6vw
      height: 9.5vw
      transform: rotate(8deg)
    &--75
      top: 41.5%
      left: 13.6%
      width: 5.1vw
      height: 5vw
+r(768)
  .genplan
    &__group
      padding-top: 120px
    &__box
      margin-bottom: 120px
    &__icon
      position: relative
      .ic
        position: absolute
        bottom: 0
        left: 50%
        &-genic1
          margin-left: -47px
        &-genic2
          margin-left: -73px  
        &-genic3
          top: auto
          bottom: -3px
          margin-left: -126px    
  .plan
    &__hover  
      height: 40px
      width: 40px    
      &--1
        top: 54px
        left: 69px
      &--2
        top: 54px
        left: 126px  
      &--3
        top: 54px
        left: 173px  
      &--4
        top: 54px
        left: 220px  
      &--5
        top: 54px
        left: 266px  
      &--6
        top: 54px
        left: 313px  
      &--7
        top: 54px
        left: 358px  
      &--8
        top: 54px
        left: 404px  
      &--9
        top: 54px
        left: 450px  
      &--10
        top: 54px
        left: 496px                  
      &--11
        top: 129px
        left: 98px 
      &--12
        top: 129px
        left: 142px 
      &--13
        top: 129px
        left: 186px 
      &--14
        top: 129px
        left: 231px 
      &--15
        top: 129px
        left: 276px 
      &--16
        top: 129px
        left: 320px 
      &--17
        top: 129px
        left: 364px 
      &--18
        top: 129px
        left: 408px 
      &--19
        top: 128px
        left: 452px 
      &--20
        top: 128px
        left: 497px 
      &--21
        top: 178px
        left: 497px
      &--22
        top: 178px
        left: 453px
      &--23
        top: 178px
        left: 409px
      &--24
        top: 178px
        left: 365px
      &--25
        top: 178px
        left: 320px
      &--26
        top: 178px
        left: 276px
      &--27
        top: 178px
        left: 231px
      &--28
        top: 178px
        left: 187px
      &--29
        top: 178px
        left: 142px
      &--30
        top: 0
        left: 0
        height: 0
        width: 0
      &--31
        top: 247px
        left: 98px 
        height: 30px
      &--32
        top: 247px
        left: 142px 
      &--33
        top: 247px
        left: 187px 
      &--34
        top: 247px
        left: 232px 
      &--35
        top: 247px
        left: 276px 
      &--36
        top: 247px
        left: 321px 
      &--37
        top: 247px
        left: 365px 
      &--38
        top: 247px
        left: 409px 
      &--39
        top: 247px
        left: 454px 
      &--40
        top: 247px
        left: 499px    
      &--41
        width: 30px
        top: 296px
        left: 486px 
      &--42
        top: 296px
        left: 442px 
      &--43
        top: 296px
        left: 397px 
      &--44
        top: 296px
        left: 353px 
      &--45
        top: 297px
        left: 308px 
      &--46
        top: 298px
        left: 264px 
      &--47
        top: 298px
        left: 219px 
      &--48
        top: 298px
        left: 174px 
      &--49
        top: 298px
        left: 130px    
      &--50
        height: 30px
        width: 34px
        top: 315px
        left: 92px
      &--51
        top: 364px
        left: 262px
      &--52
        top: 364px
        left: 306px 
      &--53
        top: 364px
        left: 351px 
      &--54
        top: 364px
        left: 395px 
      &--55
        top: 364px
        left: 440px  
        width: 37px      
      &--56
        top: 413px
        left: 417px
        width: 53px 
      &--57
        top: 413px
        left: 366px  
        width: 45px 
      &--58
        top: 413px
        left: 316px  
      &--59
        top: 413px
        left: 266px   
      &--60
        top: 83px
        left: 558px    
        width: 44px   
      &--61
        top: 128px
        left: 558px    
        width: 44px                                  
      &--62
        top: 175px
        left: 558px    
        width: 44px  
      &--63
        top: 222px
        left: 559px    
        width: 44px   
      &--64
        top: 270px
        left: 559px
        width: 44px
        height: 46px
      &--65
        top: 333px
        left: 533px
        width: 65px
        height: 44px
        transform: rotate(32deg)   
      &--66  
        top: 377px
        left: 505px
        width: 65px
        height: 47px
        transform: rotate(32deg)    
      &--67
        top: 431px
        left: 490px
        width: 49px
        height: 48px
        transform: rotate(8deg)
        &:before
          content: ''
          width: 54px
          height: 24px
          display: block
          background: transparent
          transform: rotate(20deg)
          top: 13px
          left: -7px
          margin-top: -8px   
          margin-left: 1px
      &--68
        top: 484px
        left: 481px
        width: 49px
        height: 62px
        transform: rotate(8deg) 
      &--69
        top: 549px
        left: 458px
        width: 62px
        height: 45px
        transform: rotate(7deg) 
      &--70
        top: 517px
        left: 418px
        width: 38px
        height: 68px
        transform: rotate(7deg)
      &--71
        top: 511px
        left: 375px
        width: 38px
        height: 68px
        transform: rotate(8deg)
      &--72
        top: 505px
        left: 333px
        width: 38px
        height: 67px
        transform: rotate(8deg)
      &--73
        top: 500px
        left: 291px
        width: 39px
        height: 64px
        transform: rotate(8deg)
      &--74
        top: 494px
        left: 247px
        width: 39px
        height: 64px
        transform: rotate(8deg)
      &--75
        height: 34px
        width: 31px
        top: 280px
        left: 96px
+comment("page projects style")
.ds-project
    margin: 35px 0
.gl-gallery
  position: relative
  text-align: center
  &__arrow
    top: 50%
    transform: translateY(-50%)
  &__btn
    transform: translateY(-50%)
.gl-arrow
  position: absolute
  width: 60px
  height: 120px
  overflow: hidden
  font-size: 20px
  color: #fff
  text-align: center
  cursor: pointer
  &:before
    content: ''
    position: absolute
    display: block
    margin: auto
    width: 120px
    height: 120px
    top: 0
    bottom: 0
    border: 4px solid currentColor
    border-radius: 50%
    background-color: transparent
  &--left
    left: 0
    &:before
      right: 0
  &--left &
    &__icon
      right: 35px
  &--right
    right: 0
    &:before
      left: 0
  &--right &
    &__icon
      left: 35px
  &--active
    color: #e88d0c
    &:before
      background-color: currentColor
  &--active &
    &__icon
      color: #000
  &__icon
    position: absolute
    top: 50%
    transform: translateY(-50%)

.ds-info
  &__list
    background-color: #f6f9f9
.mr-option
  font: 400 18px/20px $font-open-sans
  color: #222222
  &__text
    margin-bottom: 14px
.sw-list
  position: relative
  padding: 10pxs
  &__icon
    position: absolute
    top: -114px
    right: 26px 
  &__heading
    margin-bottom: 23px
    font: 600 18px/20px $font-open-sans
    color: #222222
.tr-item
  display: table
  margin: 10px 0
  &__item
    display: table-cell
    vertical-align: middle
    &--left
      width: 50px
  &__icon
    color: #e88d0c
  &__text
    margin: 0
    font: 300 14px/16px $font-open-sans
    color: #222222
+r(768)
  .ds-info
    &__description
      padding-left: 20px
  .sw-list
    padding: 30px


+comment("Пофиксь стрелки пожалуйста на странице Gallery")
+r(992)
  .fancybox-next, 
  .fancybox-prev
    top: 50%
    transform: translateY(-50%)
