extends base/_layout.pug
block variables

block styles

block scripts

block header
  include partials/_headerContact.pug
block content
  include partials/_contentContact.pug
block footer
  include partials/_footerIn.pug
block modal
  include partials/_modal.pug
