extends base/_layout.pug
block variables

block styles

block scripts

block header
  include partials/_header.pug
block content
  include partials/_about.pug
  include partials/_address.pug
  include partials/_register.pug
  include partials/_project.pug
  include partials/_catalog.pug
  include partials/_scheme.pug
  include partials/_create.pug
  include partials/_plan.pug
  include partials/_advice.pug
  include partials/_process.pug
  include partials/_map.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug
