extends base/_layout.pug
block variables

block styles

block scripts

block header
  include partials/_headerPlan.pug
block content
  include partials/_contentPlan.pug
block footer
  include partials/_footerIn.pug
block modal
  //- include partials/_modal.pug
  include partials/_tooltip.pug
